/* Add here all your css styles (customizations) */
.navbar-fixed-top-css{
    position: fixed;
}




.default-nav-style-override {
    min-height: 0px;
    margin-bottom: 0px;
    border: none ;
}

.container-below-navbar{

    margin-top: 80px;
}

.py-course-bg  {
	padding: 60px 0;
	text-align: center;
	position: relative;
	margin-bottom: 20px;
	background: url(/static/img/bg/py_course_bg.jpg) 50% 0 repeat fixed;

}

.py-course-bg .col-md-8 {
    background: rgba(255, 255, 255, 0.7);
    padding-top: 70px;
    padding-bottom: 70px;
}

.py-course-summary h1,.py-course-summary h2 ,.py-course-summary h3,.py-course-summary h4,.py-course-summary span ,.py-course-summary p{
    color: #DDD;
}


.text_on_image {
    position: relative;

}

.text_on_image h1 {
    position: absolute;
    top:253px;
    color:#FF9738;
    background: rgba(255, 255, 255, 0.91);
    padding-top: 30px;
    padding-bottom: 70px;
    width:100%;


}
.text_on_image h2 {
    position: absolute;
    top:100px;
    color:#FF9738;
    background: rgba(255, 255, 255, 0.91);
    padding-top: 70px;
    padding-bottom: 50px;
    width:100%

}

.font_highlight{
    font-size: 19px;
    color: red;
}

.right-side-panel{
    height: 500px;
    overflow:auto;
    padding: 15px;
    background-color: #fafafa;
}

.tab-menu{
    border: 0px;
}
.tab-background{
    background-color: #00aceb;
    border-radius: 15px;
    margin-top: 30px;

}
.tab-menu-margin{

    margin-left: 100px;
}
.font-size-md{
    font-size: 20px;
}

.tab-content-padding{
    padding: 50px;
}

.tab-content-padding p {
    color: whitesmoke;
    font-size: 15px;

}
.tab-content-padding h1{
    color: whitesmoke;
}

.linux-teacher-intro p{
    color: white;
}
.linux-course-summary *{
    color:whitesmoke;
}

.linux-course-bg-img {
    height: 700px;
	padding: 80px 0;
	margin-bottom: 20px;
	background: url(/static/img/course/linux_ops/linux_4.jpg)  ;

}

.architect-course-bg-img {
    height: 700px;
	padding: 80px 0;
	margin-bottom: 20px;
	background: url(/static/img/bg/architect.jpg) 50% 0 repeat fixed ;

}

.architect-course-bg-img .p_bg {
    background-color: rgba(255,255,255,0.8);
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}


.bigdata-course-bg-img {
    height: 700px;
	padding: 80px 0;
	margin-bottom: 20px;
	background: url(/static/img/bg/bigdata.jpg) 50% 0 repeat fixed  ;

}
.bigdata-course-bg-img .p_bg {
    background-color: rgba(255,255,255,0.8);
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}
.bigdata-course-bg-img .head_bg {
    background-color: rgba(133, 230, 34, 0.85);
    padding: 8px;
}

.bigdata-intro{
    padding:5px;
}
.bigdata-intro p{
    font-size: 13px;
    padding: 10px;
}

.pricing-v1-head h3{
    color: whitesmoke;
}

.enrollment-bg-img {
    height: 700px;
	padding: 80px 0;
	margin-bottom: 20px;
	background: url(/static/img/bg/enrollment_bg4.jpg) 50% 0 repeat fixed  ;

}
.enrollment-bg-img .head_bg {
    background-color: rgba(34, 230, 224, 0.7);
    padding: 8px;

}
.faq_question{
    color: red;
}

.teachers-bg-img {
    height: 700px;
	padding: 80px 0;
	margin-bottom: 20px;
	background: url(/static/img/bg/teachers_bg.jpg) 50% 0 repeat fixed  ;

}
.teachers-bg-img .p_bg {
    background-color: rgba(255,255,255,0.8);
    padding: 8px;
    font-size: 14px;
    font-weight: bold;
}
.teachers-bg-img .head_bg {
    background-color: rgba(133, 230, 34, 0.85);
    padding: 8px;
}

.jobs-bg-img {
    height: 700px;
	padding: 80px 0;
	margin-bottom: 20px;
	background: url(/static/img/bg/jobs_bg2.jpg) 100% 0 repeat fixed  ;
}
.jobs-bg-img .head_bg {
    background-color: rgba(255,255,255, 0.7);
    padding: 8px;

}

.course-summary a:link {
    text-decoration: none;
    cursor: auto;
}{
}

.classes-braner {
    margin-top: 25px;
    marker-end: 25px;
    background-color: #5e5e5e;
    color: white;
    height: 35px;
}
.classes-png {
    margin: 5px;
}
.classes-png img{
    width: 100%;
    height: auto;

}
.gray-bg{
    background-color: rgba(105, 105, 105, 0.05);
}
.white-bg{
    background-color: white;
}