{% extends 'web/index.html' %}

{% block page-content-container %}

<!--=== Content Part ===-->
<div class="container content  ">

    <div class="row tab-v2">
            <div class="col-sm-2">
                    <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="#home-2" data-toggle="tab"><i class="fa fa-home"></i> 关于老男孩</a></li>
                            <li><a href="#training-target" data-toggle="tab"><i class="fa fa-comments"></i> 培养目标</a></li>
                            <li><a href="#settings-2" data-toggle="tab"><i class="fa fa-gear"></i>校园环境</a></li>
                            <li><a href="#hire" data-toggle="tab"><i class="fa fa-gear"></i>招聘信息</a></li>
                            <li><a href="#contact-us" data-toggle="tab"><i class="fa fa-gear"></i>联系我们</a></li>
                    </ul>
            </div>
            <div class="col-sm-10">
                    <div class="tab-content">
                            <div class="tab-pane fade in active" id="home-2">

                                   <div class="text_on_image">
                                        <img class="img-responsive full-width" src="/static/img/about_us/about_us_header2.jpg" alt="">
                                         <h2 style="font-size: 70px;color:gray">老男孩IT教育</h2>

                                       <h1 style="font-size: 100px;">只培养技术精英!</h1>

                                   </div>
                                    <br/>

                                    <h3>成长故事</h3>
                                    <p>老男孩IT教育是由老男孩老师成立于2007年, 是业内最专业及口碑最好的Linux运维\IT自动化开发技术教育机构.</p>
                                    <p>老男孩目前已开设课程包括Linux运维\Linux架构师\Python自动化开发\Python软件开发\大数据开发\云计算开发等课程 ,</p>
                                    <p>从成立到现在，在没有花过一分钱广告费，几乎全部靠口碑传播的基础上，从老男孩毕业的<span class="font_highlight">面授学员已超过2000人</span>，网络班学员上万名，<span class="font_highlight">学员平均就业工资10K左右</span>,就不全面的统计，目前已有50多位学员在国内外知名互联网公司上升到IT总监、运维主管的职位，另有数百位学员在阿里、腾讯、百度、小米、京东、360公司、亚马逊、新浪、SOHU、网易、民生银行、华夏银行等众多知名企业担任资深系统工程师、架构师等相关职位。
                                    </p>

                                     <p>

                                        老男孩培训目前依然位于北京昌平区沙河地铁站附近，距离市中心稍远，有些学生抱怨学校较远，我们也曾提议往近的地方搬一搬，但老男孩老师坚持认为，学校远也是有好处的，一是可以帮学生省掉近三分之一的学费，二是可以刷掉一些不够刻苦的学生，所以呢，你懂的，老男孩培训现在依然在沙河。
                                    <p>即便我们相信我们能提供业内最高质量的课程，但我们依然不能保证每个学员都学有所成，学习是双方的事情，学校再努力的教，学生不主动、不努力、不上心，那也肯定学不会，即便送他去北大、清华也是如此。我们不想招这样的学生，招来我们也教不好，因此，我们的部分课程已经开始开展“劝退行动”，在每期课程开始的前几天，通过对每个学员学习态度、努力程度、学习能力、作业完成度等做综合考评，对于不符合要求的学员，实行劝退，退还学费，扫地出门。可以说，我们是业内第一家敢于做这样事情的机构，为什么呢？你懂的，劝退一个学生，就少挣一笔钱呀，到嘴里的肉再吐出来是何等难受。不过，我们做到了，现在每期都会劝退掉几个学员，所以，如果你来老男孩教育学习但却不努力的话，请做好被刷掉的准备。<p>

                            </div>

                            <div class="tab-pane fade in" id="training-target">
                                    <h4>培养目标</h4>
                                    <p>老男孩教育自成立以来一直致力并专注于为社会培养中高端运维\IT自动化\软件开发相关技术人才.</p>
                                    <p>我们在教学过程中不仅只教授IT技术知识,还非常注重学员职业素质\人生观\价值观\世界观的培养,我们希望所有的学员毕业后,不仅专业能力上过硬,同时对待人生的态度上亦是积极的\向上的\正能量的.毕竟技术好的人多了去了,但不一定都热爱和会生活.</p>
                            </div>
                            <div class="tab-pane fade in" id="hire">
                                    <h4>招聘信息</h4>
                                    <p><img alt="" class="pull-right rgt-img-margin img-width-200" src="assets/img/main/img13.jpg"> <strong>Vivamus imperdiet condimentum diam, eget placerat felis consectetur id.</strong> Donec eget orci metus, Vivamus imperdiet condimentum diam, eget placerat felis consectetur id. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, consectetur id. Donec eget orci metus, ac adipiscing nunc. <strong>Pellentesque fermentum</strong>, ante ac interdum ullamcorper. Donec eget orci metus, ac adipiscing nunc. Pellentesque fermentum, ante ac interdum ullamcorper.</p>
                            </div>
                            <div class="tab-pane fade in" id="contact-us">
                                    <h3>联系我们</h3>
                                    <hr/>
                                    <h4 style="color: red;">北京校区</h4>

                                    <p><b>学校地址</b>
                                        <br/>北京市昌平区沙河顺沙路八号院2区3号楼汇德商厦4层 </p>
                                    <p><b>周边交通</b>
                                        <br/>地铁站：昌平线沙河站A口；
                                        <br/>公交线路：670路、945路、专70路、专19路、专51路、昌52、昌66等</p>
                                    <p><b>课程咨询</b></p>
                                    <table class="table" style="width: 300px" >
                                          <tbody><tr>
                                            <th align="center" scope="col">咨询老师</th>
                                            <th scope="col">手机</th>
                                            <th scope="col">QQ</th>
                                          </tr>
                                          <tr>
                                            <td align="center">飞雪</td>
                                            <td align="center">13552612571</td>
                                            <td align="center">80042789</td>
                                          </tr>
                                          <tr>
                                            <td align="center">歪歪</td>
                                            <td align="center">18911718229</td>
                                            <td align="center">70271111</td>
                                          </tr>
                                          <tr>
                                            <td align="center">小雨</td>
                                            <td align="center">18600462391</td>
                                            <td align="center">390320151</td>
                                          </tr>
                                          <tr>
                                            <td align="center">丹丹</td>
                                            <td align="center">15810590206</td>
                                            <td align="center">41117397</td>
                                          </tr>
                                          <tr>
                                            <td align="center">冰冰</td>
                                            <td align="center">15010785220</td>
                                            <td align="center">41117483</td>
                                          </tr>
                                        </tbody></table>
                                <p><b>学校地图</b></p>
                                <img src="/static/img/about_us/bj_addr_map.jpeg" >

                            </div>
                    </div>
            </div>
    </div>

</div>     <!--=== end Content Part ===-->




{% endblock %}