{% extends 'web/index.html' %}

{% block page-content-container %}
<div class="parallaxBg " style="background-position: 50% 16px;"
     xmlns="http://www.w3.org/1999/html">


</div>
<div class="container " style="margin-left: -250px;">
      <div class="col-lg-12" >
        <img src="/static/img/banner/01.png">
      </div>
  </div>
<!--=== Content Part ===-->
<div class="container content  ">
    <h2 class="classes-braner">&nbsp&nbsp&nbsp脱产课程</h2>
    <h2 class="classes-braner">&nbsp&nbsp&nbsp周末课程</h2>
     <div class="row">
         <img class="col-lg-12" src="/static/img/qingcun.png">
    </div>
    <h2 class="classes-braner">&nbsp&nbsp&nbsp网络课程</h2>
</div>

{% endblock %}