{% extends 'web/index.html' %}

{% block page-content-container %}

<div class="linux-course-bg " >
  <div class="container ">
      <div class=" container-below-navbar">
        <img src="/static/img/course/linux_ops/linux_ops_banner.jpg" >
      </div>
      <div class="row " style="margin-top: 10px">
				<div class="col-md-9 animated fadeInLeft">
					<h2>老男孩Linux运维毕业生,能拿多少工资?</h2>
					<p>经过学生允许,老男孩教育提供往届Linux运维班学生真实就业薪资供大家参考,我们保证所有学员就业公司,薪资,职位等信息均真实可靠!</p>
				</div>
				<div class="col-md-3 btn-buy  animated fadeInRight" style="left: 13px">
					<a href="#" class="btn-u btn-u-lg"><i class="fa fa-search-minus"></i>查看毕业生薪资列表>></a>
				</div>
      </div>

  </div>
</div>


<!--0 基础学习-->
<div class="bg-color-light">

    <div class="container content-sm">
            <div class="text-center margin-bottom-50">
                <h2 class="title-v2 title-center">0基础,适合Linux培训和就业么?</h2>
                <p class="space-lg-hor">老男孩Linux中高级运维班50%左右的学生都是0基础,甚至很多学员之前从未从事过计算机相关职业,另有一部分是有过一些Linux基础和相关工作经验的同学,但为了照顾0基础学员,本课程基础部分会讲的非常详细,确保所有同学都能顺利掌握本课程所有知识点. 我们现有的学员背影分布主要如下:</p>
            </div>

          <!--0基础能学么-->
           <div class="row margin-bottom-30">
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-compress service-icon"></i>
                        <div class="desc">
                            <h4>应届大学生</h4>
                            <p>即将毕业,大学期间打游戏\泡妹子,4年时光都喂了狗,快毕业了要找不到工作了才知道充电的学渣们</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-cogs service-icon"></i>
                        <div class="desc">
                            <h4>零基础人员</h4>
                            <p>对Linux感兴趣,并希望从事相关工作,之前可能是学挖掘机的\卖保险的\做行政的等whatever...,经历五花八门,但学习\改变是他们的共同目标!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-rocket service-icon"></i>
                        <div class="desc">
                            <h4>技能提升</h4>
                            <p>在其它培训机构学过一遍,找了工作却总是工资过不了万,本质原因还是自己太菜,攒了仨月工资咬牙再来充电,不学不行呀,谁让自己技术太水?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-rocket service-icon"></i>
                        <div class="desc">
                            <h4>转行人员</h4>
                            <p>之前可能做开发\做设计\做市场,自从看了一眼Linux,就一入候门深似海，從此萧郎是路人!</p>
                        </div>
                    </div>
                </div>
            </div>
          <!--end 0基础能学么-->



    </div><!--end container-->


</div>
<!--0 基础学习-->
<!--名师授课-->
<div class="bg-color-orange">
   <div class="container content-md" >

        <div class="text-center margin-bottom-50">
            <h1 style="color: ghostwhite;font-size: 50px" class="title-v2 title-center">啥才算名师授课?</h1>

        </div>
       <div class="row">
           <div class="col-md-5">
               <img src="/static/img/team/team1.jpeg">
           </div>
           <div class="col-md-7">
                <p class="space-lg-hor">老男孩培训创始人，资深Linux集群实战架构专家，51CTO专家、评委,业内公认知名Linux运维专家。从事一线运维架构实战及教育培训经验13年，著有《跟老男孩学linux运维》《WEB集群实战》等热销书籍。
                擅长大规模linux集群架构细节，老男孩讲课抓重点，重思想和实战技巧，特别注重理论联系实际教学，所教课程从企业需求分析开始手把手带大家实战完成高并发集群架构搭建和优化，所教学生运维班平均就业工资10K+，高级架构班平均就业工资15K+，直接受益学生近万人！几乎半个互联网的运维工程师都曾是老男孩老师的门徒!</p>
                <p class="space-lg-hor">老师博客：http://oldboy.blog.51cto.com/</p>
                <p class="space-lg-hor">老师视频: http://edu.51cto.com/lecturer/user_id-2561410.html</p>
                <p class="space-lg-hor">老师书籍：http://oldboy.blog.51cto.com/</p>
           </div>

       </div>

   </div>
</div>
<!--名师授课-->


<!--=== Content Part ===-->
<div class="container content  ">



    <div class="row">

        sdfsf
    </div>

</div>     <!--=== end Content Part ===-->




{% endblock %}