{% extends 'web/index.html' %}

{% block page-content-container %}

<div class="architect-course-bg-img parallaxBg " style="background-position: 50% 16px;"
     xmlns="http://www.w3.org/1999/html">
  <div class="container container-below-navbar">
      <div class="col-md-10 col-md-offset-2 " >
          <p style="font-size: 100px;color:black">做5年架构师</p>

          <p  style="font-size: 100px;color: whitesmoke">一线城市买套房!</p>
          <p><span class="p_bg">迄今为止业内最专业的运维架构师课程,学员平均就业年薪25W+,</span></p>
          <p><span class="p_bg">*申请入学需具备12个月以上实际运维工作经验.</span></p>


      </div>
  </div>

</div>
<!--即将开课-->
<div class="call-action-v1 bg-color-red">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p class="color-light" style="font-size: 28px">最新一期运维架构师课程2016-3月即将开课,工作3年了你年薪还低于25W? 那可能是该考虑充电啦.</p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin={{ consultant.qq }}&amp;site=qq&amp;menu=yes" target="_blank" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-block">了解课程详情>></a>
            </div>
        </div>
    </div>
</div>
<!--end 即将开课-->
<!--课程大纲-->
<div class="container content-sm">
    <div class="text-center margin-bottom-50">
        <h2 class="title-v2 title-center">都是搞技术的,课程怎样,自己看课程大纲就明白了</h2>
        <p class="space-lg-hor">课程包含12个专题,囊括OpenStack\Docker\ELK等几乎所有当下热门高大上技术</p>
    </div>


    <!-- 课程数据-->
    <div class="container">
                <ul class="row list-row">
                    <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
                        <div class="counters rounded">
                            <span class="counter">5个月</span>
                            <h4 class="font-normal">周期</h4>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 md-margin-bottom-30">
                        <div class="counters rounded">
                            <span class="counter">300个+</span>
                            <h4 class="font-normal">知识点</h4>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 sm-margin-bottom-30">
                        <div class="counters rounded">
                            <span class="counter">20个+</span>
                            <h4 class="font-normal">实战项目</h4>
                        </div>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12">
                        <div class="counters rounded">
                            <span class="counter">25万元</span>
                            <h4 class="font-normal">学员平均就业年薪</h4>
                        </div>
                    </li>
                </ul>
            </div>
    <!-- end 课程数据-->
    <hr/>

    <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30 bg-color-aqua">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-directions "></i>
            <div class="content-boxes-in-v4 ">
                <h2>数据库与存储集群高可用架构课程</h2>
                <dl >
                    <li>heartbeat高可用技术实战</li>
                    <li>drbd高级数据同步技术实战</li>
                    <li>NFS存储分布式集群高可用技术实战</li>
                    <li>MySQL高可用及集群技术实战</li>
                    <li>MFS分布式存储集群高可用技术实战</li>
                    <li>GlusterFS分布式文件系统集群技术实战</li>
                    <li>分布式文件系统FastDFS</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-handbag"></i>
            <div class="content-boxes-in-v4">
                <h2>Web应用及Web集群高可用专题</h2>
                <dl >
                    <li>haproxy专业负载均衡架构方案及企业实战</li>
                    <li>Java应用服务Tomcat实战</li>
                    <li>Java应用服务resin实战</li>
                    <li>Java应用JVM高级调优(架构师顶级优化)</li>
                    <li>门户业务自动化测试\打包及代码发布方案</li>
                    <li>Git版本管理与持续集成</li>
                    <li>Jekins自动化部署</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left  icon-speedometer"></i>
            <div class="content-boxes-in-v4">
                <h2>CDN网站加速缓存专题</h2>
                <dl >
                    <li>DNS与智能DNS技术实战</li>
                    <li>反向代理缓存之Nginx</li>
                    <li>反向代理缓存之Varnish</li>
                    <li>Squid缓存服务技术实战</li>

                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="row content-boxes-v4 content-boxes-v4-sm margin-bottom-30 bg-color-light-green">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-info margin-right-10"></i>
            <div class="content-boxes-in-v4">
                <h2>vpn/ipsec及跨机房业务专题</h2>
                <dl >
                    <li>openVPN拨号及跨机房技术实战</li>
                    <li>ipsec跨机房技术实战</li>
                    <li>基于vpn/ipsec跨机房企业级解决方案</li>
                    <li>Web，中间件，存储系统跨机房企业级同步方案</li>
                    <li>门户网站跨机房全业务架构方案</li>
                    <li>异步消息中间件跨机房方案</li>
                </dl>

                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-social-youtube margin-right-10"></i>
            <div class="content-boxes-in-v4">
                <h2>门户网站大并发集群架构必备</h2>
                <dl >
                    <li>消息中间件\消息队列技术实战</li>
                    <li>消息中间件的传递模型</li>
                    <li>大型门户异步静态架构方案</li>
                    <li>Redis分布式缓存集群</li>
                    <li>SVN版本管理技术实战与代码发布方案</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left icon-fire margin-right-10"></i>
            <div class="content-boxes-in-v4">
                <h2>自动化运维之SaltStack</h2>
                <dl >
                    <li>SaltStack快速入门</li>
                    <li>SaltStack数据系统</li>
                    <li>SaltStack远程执行</li>
                    <li>SaltStack配置管理</li>
                    <li>SaltStack实践案例</li>
                    <li>SaltStack管理实践</li>
                    <li>SaltStack架构扩展</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="row content-boxes-v4 content-boxes-v4-sm bg-color-orange">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-layers"></i>
            <div class="content-boxes-in-v4">
                <h2>虚拟化KVM与云计算OpenStack</h2>
                <dl >
                    <li>云计算与虚拟化概述</li>
                    <li>KVM虚拟化实战</li>
                    <li>KVM性能优化</li>
                    <li>OpenStack快速入门</li>
                    <li>OpenStack虚拟化实战</li>
                    <li>消息代理RabbitMQ</li>
                    <li>OpenStack验证服务</li>
                    <li>OpenStack镜像服务</li>
                    <li>OpenStack计算服务</li>
                    <li>OpenStack网络服务</li>
                    <li>OpenStack管理服务</li>
                    <li>OpenStack存储服务</li>
                    <li>OpenStack企业实践</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left icon-rocket"></i>
            <div class="content-boxes-in-v4">
                <h2>云计算之Docker实战</h2>
                <dl >
                    <li>Docker快速入门</li>
                    <li>Docker镜像管理</li>
                    <li>Docker网络访问</li>
                    <li>Docker镜像构建</li>
                    <li>Docker私有仓库</li>
                    <li>Docker资源隔离</li>
                    <li>Docker资源限制</li>
                    <li>使用Supervisor管理进程</li>
                    <li>Docker生态圈\CoreOS\WebUI\Docker API </li>
                    <li>Docker集群管理</li>
                    <li>Docker生产实战:Mesos+Marathon实践</li>

                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left icon-support"></i>
            <div class="content-boxes-in-v4">
                <h2>大型门户网站用户账号统一认证</h2>
                <dl >
                    <li>openldap企业级应用实战</li>
                    <li>通过openldap认证linux,svn,vpn,ftp,samba等业务实战</li>
                    <li>企业跨多机房各类业务认证解决方案</li>
                    <li>提示：此部分仅赠视频</li>

                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row content-boxes-v4 content-boxes-v4-sm bg-color-light">
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left  icon-screen-desktop"></i>
            <div class="content-boxes-in-v4">
                <h2>企业级监控平台实战</h2>
                <dl >
                    <li>企业监控概述</li>
                    <li>Zabbix快速入门</li>
                    <li>Zabbix监控实例</li>
                    <li>Zabbix分布式</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4 md-margin-bottom-40">
            <i class="pull-left  icon-bar-chart"></i>
            <div class="content-boxes-in-v4">
                <h2>日志平台之ELK Stack</h2>
                <dl >
                    <li>日志平台概述</li>
                    <li>Elasticsearch详解</li>
                    <li>LogStash详解</li>
                    <li>Kibana详解</li>
                    <li>ELKStack实践</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
        <div class="col-md-4">
            <i class="pull-left  icon-graduation"></i>
            <div class="content-boxes-in-v4">
                <h2>自动化运维深度实践</h2>
                <dl >
                    <li>什么是自动化运维\运维自动化发展历程</li>
                    <li>ITSM和ITIL</li>
                    <li>运维堡垒机</li>
                    <li>基于OpenStack/Docker的自动化扩容</li>
                    <li>MySQL性能优化与集群高可用</li>
                    <li>大型网站核心应用及架构方案深度剖析</li>
                    <li>架构师跳槽指导与未来3年内职业规划</li>
                </dl>
                <a href="#">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!--end 课程大纲-->
<!--讲师介绍-->
<div class="container content">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-v2">一线名师授课</h2>
                <p><b>主讲师: </b>赵班长</p>
                <p>高级系统工程师,UnixHot运维社区创始人,SaltStack中国用户组发起人</p>
                <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">Read More</a>
                <a href="#" class="btn-u">Purchase Now</a>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="/static/img/team/team1.jpeg" alt="">
            </div>
        </div>
</div>

<!--end 讲师介绍-->

<!--学员offer-->
<div class="container content">
    <div class="row">
        <h2 class="title-v2">部分近期毕业学员Offer展示</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="/static/img/offers/offer1.jpg" alt="">
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="/static/img/offers/offer2.jpg" alt="">
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="/static/img/offers/offer14.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer3.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer5.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer6.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer7.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer8.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer9.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer10.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer11.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer12.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer13.jpg" alt="">
        </div>
    </div><!--end row-->
</div>
<!--end 学员offer-->

<!--即将开课-->
<div class="call-action-v1 bg-color-red">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p class="color-light">最新一期运维架构师课程2016-3月即将开课,如果你现在年薪低于25W,那可能是该考虑充电啦.</p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-block">View Our Portfolio</a>
            </div>
        </div>
    </div>
</div>
<!--end 即将开课-->
{% endblock %}
{% block bottom-js %}
<script>
    $(document).ready(function(){
        $("#course-menu").addClass("active");
    });//end doc ready
</script>
{% endblock %}