{% extends 'web/index.html' %}

{% block page-content-container %}

<div class="bigdata-course-bg-img parallaxBg " style="background-position: 50% 16px;"
     xmlns="http://www.w3.org/1999/html">
  <div class="container container-below-navbar">
      <div class="col-md-10 col-md-offset-1 " >
          <p style="font-size: 100px;color:black" class="head_bg">其实世界上的一切都是DATA</p>

          <p><span class="p_bg">*申请入学需具备12个月以上实际运维工作经验.</span></p>


      </div>
  </div>

</div>

<!--即将开课-->
<div class="call-action-v1 " style="background-color: rgb(240, 10, 10)">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p class="color-light" style="font-size: 28px">老男孩大数据开发课程火热报名中,入学即签保就业协议,毕业年薪15W起!</p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin={{ consultant.qq }}&amp;site=qq&amp;menu=yes" target="_blank" class="btn-u btn-brd btn-brd-hover btn-u-light btn-u-block">了解课程详情>></a>
            </div>
        </div>
    </div>
</div>
<!--end 即将开课-->

<!--大数据介绍-->
<div class="container content">
<div class="row pricing-table-v1 no-space-pricing">

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-green">
                    <div class="pricing-v1-head text-center">
                        <h4 class="text-center">至2020年数据总量</h4>
                        <h5 class="text-center">40<i>万亿亿字节</i></h5>
                    </div>
                    <div class="pricing-v1-content bigdata-intro" >
                        <p>企业在长期经营中积累了海量的用户行为数据,从星巴克到沃尔玛，从家乐福到肯德基，他们正在分析密集型数据，以便得出最合适的产品选型和定价。大数据分析消费者使用习惯，如何使企业利润最大化，如何制定食物的食材配比，都是有着严密的数据分析做支撑，而这一切就是大数据的魅力所在.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-red">
                    <div class="pricing-v1-head text-center">
                        <h4 class="text-center">人才缺口</h4>
                        <h5 class="text-center"><span></span>150<i>万</i></h5>
                    </div>
                    <div class="pricing-v1-content bigdata-intro" >

                        <p>麦肯锡全球研究院的研究预测在未来6年，仅在美国本土就可能面临缺乏14万至19万具备深入分析数据能力人才的情况，同时具备通过分析大数据并为企业做出有效决策的数据的管理人员和分析师也有
150万人的缺口。美国和日本政府认为培训大量的大数据人才是相当必要的</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-aqua">
                    <div class="pricing-v1-head text-center">
                        <h4 class="text-center">平均年薪</h4>
                        <h5 class="text-center"><span>$</span>101000<i>美元</i></h5>
                    </div>
                    <div class="pricing-v1-content bigdata-intro" >

                        <p>大数据人才缺口的巨大，直接导致了大数据行业的薪金持续增长.数据整合和数据仓库管理人员薪金在未来将达到131000美元，普通工作人员薪金也有101000美元。</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="pricing-v1 pricing-v1-orange">
                    <div class="pricing-v1-head text-center">
                        <h4 class="text-center">工资高出其它IT职位</h4>
                        <h5 class="text-center"><span></span>35<i>%</i></h5>
                    </div>
                    <div class="pricing-v1-content bigdata-intro" >
                        <p>由于大数据挖掘和分析人才的严重缺失,很多企业为吸引和争夺相关技术人才,给出的工资更是高出了其它IT职位的35%.</p>
                    </div>
                </div>
            </div>

        </div>
</div>
<!--end 大数据介绍-->

<!--讲师介绍-->
<div class="container content">
        <div class="row">
            <div class="col-md-6">
                <h2 class="title-v2">一线名师授课</h2>
                <p><b>主讲师: </b>徐培成</p>
                <p>51CTO学院签约讲师 毕业于计算机工程专业，先后在软件公司人软件工程师、系统分析师、项目经理、软件架构师，丰富的实战经验和深厚的技术功底。</p>
                <p>北京十八掌网络科技有限公司创始人，主营大数据技术开发和探索，志在打造最具实战性的大数据技术培训。</p>
                <p><b>项目经验:</b>主持开发了大产权交易系统，异构数据库协同系统、电信资源管理系统、互联网综合性调查等系统，对java技术、数据库技术、互联网应用、远程通信、网络编程、分布式应用、高可用性计算机网络集群等技术，曾主持并指导团队在阿里公有云上规划、部署hadoop大数据集群，并对用户的金融交易日志进行存储和分析，完成从传统RDMBS数据到大数据集群的移植和升级，有着丰富的实战经验和深厚的技术功底。</p>
                <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark">徐老师的讲课视频</a>
                <a href="#" class="btn-u">Purchase Now</a>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="/static/img/team/team1.jpeg" alt="">
            </div>
        </div>
</div>
<!--end 讲师介绍-->

<!--立即咨询-->
<div class="bg-color-light" style="margin-top: -20px;">
    <div class="row">
       <div class="col-md-6">
           <img src="/static/img/course/bigdata/bigdata1.jpg" width="100%">

       </div>
       <div class="col-md-6">

           <div>
               <p style="font-size: 75px;margin-top: 25px">零费用入学,就业后再还款!</p>

               <h3>没有钱不是贫穷,没有知识才是!</h3>
               <button class="btn-u btn-u-lg rounded btn-u-red" type="button"><i class="fa fa-user "></i> 立刻咨询</button>
           </div>
       </div>

    </div>


</div>
<!--end 立即咨询-->



<!--课程大纲-->
 <div class="full-w-block">
    <div class="container py-course-summary">
        <div class="title-v1" style="margin-top: 25px;">
            <h1 style="font-size: 50px">课程大纲</h1>
            <!--p style="color: white;">Well, believe or not,<strong>未来的趋势是运维的工作一定是高度自动化的</strong>,现在一个 10 人运维团队所做的事情,过几年可能<strong>只需要两三个人</strong>就能做的很好,再过3年,最多5年,<strong>单纯的运维工种将不复存在,</strong>替尔代之的是<strong>DevOps(即自动化运维工程师)</strong>,到那个时候,<strong>一个DveOps不会开发将是难以置信的</strong>,现在的运维从业者如果不尽快提高自身能力、改变对运维工作本质的认知,加入到运维自动化的变革升级浪潮中来,那么就请做好丢掉饭碗的准备。具体参见自动化大神Alex之前写过的文章<a href="http://3060674.blog.51cto.com/3050674/1598255">《普通运维人员就是秋后的蚂蚱!》</a>
            </p-->
        </div>

        <!--知识点count-->
        <div class="row">
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">4个月</span>
                      <h4>全脱产学习</h4>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">438</span>
                      <h4>饱满学时</h4>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">10+</span>
                      <h4>企业实战案例</h4>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">10K起</span>
                      <h4>就业工资</h4>
                  </div>
              </div>
          </div>
        <!--end 知识点count-->
    </div>
</div>

<div class="container content">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-aqua ">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第一阶段</h3>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>课程名称</th>
                            <th class="hidden-sm">课程内容</th>
                            <th>学时(H)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Java基础</b></td>
                            <td>
                                <ol>
                                    <li>JAVA 开发基础知识</li>
                                    <li>Java IO/NIO</li>
                                    <li>OOP</li>
                                    <li>JVM原理与配置、调优</li>
                                    <li>Eclipse 开发环境</li>
                                    <li>egular Expression</li>
                                    <li>多线程技术</li>
                                    <li>Java设计模式</li>
                                    <li>Socket 网络技术</li>
                                    <li>Java反射技术</li>
                                    <li>Java collection</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">120</td>
                        </tr>
                        <tr>
                            <td><b>Linux基础</b></td>
                            <td>
                                <ol>

                                    <li>Linux的介绍与安装</li>
                                    <li>Linux常用命令</li>
                                    <li>Linux启动流程运行级别详解</li>
                                    <li>Linux文件属性、权限管理</li>
                                    <li>MySQL数据库</li>
                                    <li>Linux用户管理</li>
                                    <li>Linux网络管理</li>
                                    <li>Linux磁盘管理</li>
                                    <li>nginx网络服务</li>
                                    <li>tomcat网络服务</li>
                                </ol>
                            </td>
                            <td class="hidden-sm ">60</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div><!--end col-md-9-->
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-green">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第二阶段</h3>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>课程名称</th>
                            <th class="hidden-sm">课程内容</th>
                            <th>学时(H)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Hadoop</b></td>
                            <td>
                                <ol>
                                    <li>Hadoop介绍</li>
                                    <li>Hadoop 的集群结构</li>
                                    <li>Hadoop 启动与停止</li>
                                    <li>Hadoop 安装配置</li>
                                    <li>HDFS datanode,namenode详解</li>
                                    <li>Hdfs java api</li>
                                    <li>BlockSize配置</li>
                                    <li>MR作业流程分析</li>
                                    <li>编写Reducer程序</li>
                                    <li>Hadoop 核心类讲解</li>
                                    <li>Hadoop底层IPC原理和RPC</li>
                                    <li>Hadoop 核心组成介绍及hdfs、mapreduce 体系结构</li>
                                    <li>Hadoop 独立模式安装与测试</li>
                                    <li>SSH安装与配置</li>
                                    <li>HDFS底层工作原理</li>
                                    <li>Hdfs shell</li>
                                    <li>InputSplit和OutputSplit</li>
                                    <li>最少副本数配置</li>
                                    <li>编写Mapper程序</li>
                                    <li>执行Mapreduce过程</li>
                                    <li>YARN调度框架事件分发机制</li>
                                    <li>Hadoop的底层google ProtoBuf的协议分析</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">30</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--end col-md-9-->
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-red">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第三阶段</h3>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>课程名称</th>
                            <th class="hidden-sm">课程内容</th>
                            <th>学时(H)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Hbase</b></td>
                            <td>
                                <ol>
                                    <li>HBase简介与RDBMS的对比</li>
                                    <li>系统架构</li>
                                    <li>HBase上的MapReduce</li>
                                    <li>Hbase核心术语介绍</li>
                                    <li>Hbase基本操作</li>
                                    <li>HBase Shell以及演示</li>
                                    <li>Hbase 树形表设计</li>
                                    <li>Hbase 一对多 和 多对多 表设计</li>
                                    <li>Hbase 调优(读、写、设计)</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">18</td>
                        </tr>
                        <tr>
                            <td><b>Hive</b></td>
                            <td>
                                <ol>
                                    <li>Hive简介</li>
                                    <li>Hive集群</li>
                                    <li>客户端简介</li>
                                    <li>HiveQL介绍与SQL的比较</li>
                                    <li>数据类型</li>
                                    <li>外部表和分区表</li>
                                    <li>ddl与CLI客户端演示</li>
                                    <li>Hive 优化</li>
                                    <li>dml与CLI客户端演示</li>
                                    <li>select与CLI客户端演示</li>
                                    <li>Operators 和  functions与CLI客户端演示</li>
                                    <li>Hive server2 与jdbc</li>
                                    <li>用户自定义函数（UDF 和 UDAF）的开发与演示</li>

                                </ol>
                            </td>
                            <td class="hidden-sm">12</td>
                        </tr>
                        <tr>
                            <td><b>Sqoop</b></td>
                            <td>
                                <ol>
                                    <li>Sqoop简介和配置</li>
                                    <li>Sqoop shell常见命令</li>
                                    <li>Sqoop导入与导出</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">6</td>
                        </tr>
                        <tr>
                            <td><b>Flume</b></td>
                            <td>
                                <ol>
                                    <li>flume简介-基础知识</li>
                                    <li>flume安装与测试</li>
                                    <li>flume部署方式</li>
                                    <li>flume source相关配置及测试</li>
                                    <li>flume sink相关配置及测试</li>
                                    <li>flume selector 相关配置与案例分析</li>
                                    <li>flume Sink Processors相关配置和案例分析</li>
                                    <li>flume Interceptors相关配置和案例分析</li>
                                    <li>flume AVRO Client开发</li>
                                    <li>flume 和kafka 的整合</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">12</td>
                        </tr>

                        <tr>
                            <td><b>Zookeeper</b></td>
                            <td>
                                <ol>
                                    <li>Zookeeper java api开发</li>
                                    <li>Zookeeper rmi高可用集群开发</li>
                                    <li>Zookeeper redis高可用监控</li>
                                    <li>Netty 异步io通信框架</li>
                                    <li>Zookeeper实现netty分布式架构的高可用</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">12</td>
                        </tr>
                        <tr>
                            <td><b>kafka</b></td>
                            <td>
                                <ol>
                                    <li>kafka是什么</li>
                                    <li>kafka体系结构</li>
                                    <li>kafka配置详解</li>
                                    <li>kafka的安装</li>
                                    <li>kafka的存储策略</li>
                                    <li>kafka分区特点</li>
                                    <li>kafka的发布与订阅</li>
                                    <li>zookeeper协调管理</li>
                                    <li>java编程操作kafka</li>
                                    <li>scala编程操作kafka</li>
                                    <li>flume 和kafka 的整合</li>
                                    <li>Kafka 和storm 的整合</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">12</td>
                        </tr>
                        <tr>
                            <td><b>Storm</b></td>
                            <td>
                                <ol>
                                    <li>Storm的基本概念</li>
                                    <li>Storm的应用场景</li>
                                    <li>Storm和Hadoop的对比</li>
                                    <li>Storm环境准备</li>
                                    <li>Storm集群搭建</li>
                                    <li>Storm配置文件配置项讲解</li>
                                    <li>Storm常用组件和编程API</li>
                                    <li>Storm分组策略</li>
                                    <li>Strom下WordCount例子</li>
                                    <li>Storm程序远程debug</li>
                                    <li>Storm事物处理</li>
                                    <li>Storm消息可靠性及容错原理</li>
                                    <li>Storm结合消息队列Kafka</li>
                                    <li>队列Kafka使用场景</li>
                                    <li>Storm结合Kafka编程API</li>
                                    <li>Storm Trident概念</li>
                                    <li>Trident state 原理</li>
                                    <li>Trident开发实例</li>
                                    <li>Storm DRPC(分布式远程调用)介绍</li>
                                    <li>Storm DRPC实战讲解</li>
                                    <li>Storm和Hadoop  2.x的整合：Storm on Yarn</li>
                                    <li>Kafka+Storm+Hbase+redis项目实战</li>

                                </ol>
                            </td>
                            <td class="hidden-sm">18</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--end col-md-9-->
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-orange">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第四阶段</h3>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>课程名称</th>
                            <th class="hidden-sm">课程内容</th>
                            <th>学时(H)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Scala</b></td>
                            <td>
                                <ol>
                                    <li>scala解释器、变量、常用数据类型等</li>
                                    <li>scala的条件表达式、输入输出、循环等控制结构</li>
                                    <li>scala的函数、默认参数、变长参数等</li>
                                    <li>scala的数组、变长数组、多维数组等</li>
                                    <li>scala的映射、元组等操作</li>
                                    <li>scala的类，包括bean属性、辅助构造器、主构造器等</li>
                                    <li>scala的对象、单例对象、伴生对象、扩展类、apply方法等</li>
                                    <li>scala的包、引入、继承等概念</li>
                                    <li>scala的特质</li>
                                    <li>scala的操作符</li>
                                    <li>scala的高阶函数</li>
                                    <li>scala的集合</li>
                                    <li>scala数据库连接</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">18</td>
                        </tr>
                        <tr>
                            <td><b>Spark</b></td>
                            <td>
                                <ol>
                                    <li>Spark简介与应用场景</li>
                                    <li>RDD</li>
                                    <li>Transformation</li>
                                    <li>Action</li>
                                    <li>Spark计算PageRank</li>
                                    <li>Lineage</li>
                                    <li>Spark模型简介</li>
                                    <li>Spark缓存策略和容错处理</li>
                                    <li>宽依赖与窄依赖</li>
                                    <li>Spark配置讲解</li>
                                    <li>Spark集群搭建</li>
                                    <li>集群搭建常见问题解决</li>
                                    <li>Spark原理核心组件和常用RDD</li>
                                    <li>数据本地性</li>
                                    <li>任务调度</li>
                                    <li>DAGScheduler</li>
                                    <li>TaskScheduler</li>
                                    <li>Spark源码解读</li>
                                    <li>性能调优</li>
                                    <li>Spark和Hadoop2.x整合：Spark on Yarn原理</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">18</td>
                        </tr>

                        <tr>
                            <td><b>Spark Streaming</b></td>
                            <td>
                                <ol>
                                    <li>Spark Streaming：数据源和DStream</li>
                                    <li>Transformation</li>
                                    <li>Streaming Window的操作</li>
                                    <li>sparksql 编程实战</li>
                                    <li>spark的多语言操作</li>

                                </ol>
                            </td>
                            <td class="hidden-sm">6</td>
                        </tr>
                        <tr>
                            <td><b>Spark MLlib机器学习</b></td>
                            <td>
                                <ol>
                                    <li>机器学习介绍 </li>
                                    <li>回归算法 </li>
                                    <li>分类算法</li>
                                    <li>推荐系统 </li>
                                    <li>聚类 </li>
                                    <li>Kmeans</li>

                                </ol>
                            </td>
                            <td class="hidden-sm">6</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--end col-md-9-->
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-orange">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第五阶段</h3>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>课程名称</th>
                            <th class="hidden-sm">课程内容</th>
                            <th>学时(H)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Docker</b></td>
                            <td>
                                <ol>
                                    <li>基本介绍</li>
                                    <li>vm docker 对比</li>
                                    <li>docker基本架构介绍</li>
                                    <li>unfs cgroup namespace</li>
                                    <li>进程虚拟化 轻量级虚拟化</li>
                                    <li>docker 安装</li>
                                    <li>docker 镜像制作</li>
                                    <li>docker 常用命令</li>
                                    <li>docker 镜像迁移</li>
                                    <li>docker pipework</li>
                                    <li>docker weave</li>

                                </ol>
                            </td>
                            <td class="hidden-sm">12</td>
                        </tr>
                        <tr>
                            <td><b>虚拟化KVM</b></td>
                            <td>
                                <ol>
                                    <li>虚拟化介绍，虚拟化适用场景等等</li>
                                    <li>Qemu Libvirt & KVM</li>
                                    <li>安装KVM, Qemu, Libvirt</li>
                                    <li>QEMU-KVM:访问外网</li>
                                    <li>Kvm虚拟机 nat,网桥基本原理</li>
                                    <li>kvm虚拟机克隆</li>
                                    <li>kvm虚拟机vnc配置</li>
                                    <li>kvm虚拟机扩展磁盘空间</li>
                                    <li>Kvm快照</li>
                                    <li>Kvm 迁移</li>
                                    <li>Java,python,c语言编程控制kvm</li>
                                </ol>
                            </td>
                            <td class="hidden-sm">6</td>
                        </tr>

                        <tr>
                            <td><b>云平台OpenStack</b></td>
                            <td>
                                <ol>
                                    <li>openstack介绍和模块基本原理分析</li>
                                    <li>openstack多节点安装部署</li>
                                    <li>Keystone基本原理</li>
                                    <li>glance</li>
                                    <li>Cinder</li>
                                    <li>Swift</li>
                                    <li>Neutron</li>
                                    <li>Openstack api 二次开发</li>

                                </ol>
                            </td>
                            <td class="hidden-sm">12</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><!--end col-md-9-->
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-brown">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第六阶段</h3>
                </div>
                <div class="panel-body">
                    <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>课程名称</th>
                            <th class="hidden-sm">课程内容</th>
                            <th>学时(H)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>综合项目演练</b></td>
                            <td>
                                <ol>
                                    <li>结合基于SSH技术的jee项目—互联网大数据调查系统，可针对当下流行的事件进行网络调查，然后从海量的调查调查问卷中通过大数据手段对其进行分析和汇总，最终对大众的消费习惯、文化倾向、未知领域的认知以及新事物趋势做数据上的可靠性分析，掌握大众的心理导向，有效指定企业的战略规划和部署。</li>
                                    <li>结合国内某知名网站账户的泄露信息，运用大数据技术对所有账户的密码部分进行分析，从而判断国人在密码设置上的缺陷和漏洞，进而计算我们自己所设密码被成功破解的概率，最终通过改变个人的密码设置习惯有效保护个人的账户和财产安全。</li>

                                </ol>
                            </td>
                            <td class="hidden-sm">60</td>
                        </tr>

                    </tbody>
                </table>

            </div>
            <ul>
                <li>为了跟进企业实际需要，实际上课和课表内课程安排可能会有微调，以实际上课为准。</li>
                <li>为了跟进企业实际需要，项目实战部分也可能在必要时进行增加和调换，以上课所用项目为准。</li>
                <li>老男孩教育保留所有解释权。</li>
            </ul>
        </div><!--end col-md-9-->
    </div>


</div>

<!--end课程大纲-->
{% endblock %}

{% block bottom-js %}
<script>
    $(document).ready(function(){
        $("#course-menu").addClass("active");
    });//end doc ready
</script>
{% endblock %}