{% extends 'web/index.html' %}

{% block page-content-container %}
<div class="parallaxBg " style="background-position: 50% 16px;"
     xmlns="http://www.w3.org/1999/html">


</div>
<div class="container " style="margin-left: -250px;">
      <div class="col-lg-12" >
        <img src="/static/img/banner/py_ops.png">
      </div>
  </div>
<!--=== Content Part ===-->
<div class="container content">
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/01.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/4_08.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/4_10.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/4_12.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/4_13.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/4_15.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/4_17.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 margin-top-20">
            <img src="/static/img/class/course_py_ops/4_20.png">
        </div>
    </div>

</div>


{% endblock %}