{% extends 'web/index.html' %}

{% block page-content-container %}

<div class="linux-course-bg-img  parallaxBg " style="background-position: 50% 16px;"
     xmlns="http://www.w3.org/1999/html">
  <div class="container container-below-navbar">
      <div class="col-md-10 col-md-offset-1 " >
      </div>
  </div>

</div>


<!--=== Content Part ===-->
<div class="container content ">
    <!--=== 就业统计 ===-->
    <div class="row">
        <div class="col-lg-4">
            <img src="/static/img/course/linux_ops/01.png">
        </div>
        <div class="col-md-8">
            <h1>Linux运维培训就业, 能拿多少月薪?</h1>
            <p>经过学生允许,老男孩提供往届Linux运维班学生真实就业薪资供大家参考,</p>
            <p>我们保证所有学员就业公司,薪资,职位等信息真实可靠</p>
            <a>
                <h4>老男孩Linux高级运维26期就业统计 >></h4>
            </a>
            <a>
                <h4>老男孩Linux高级运维26期就业统计 >></h4>
            </a>
            <a>
                <h4>老男孩Linux高级运维26期就业统计 >></h4>
            </a>
            <a>
                <h4>老男孩Linux高级运维26期就业统计 >></h4>
            </a>
        </div>
    </div>
    <!--===end 就业统计 ===-->
    <div>
        <h1>0基础, 适合Linux培训和就业吗?</h1>
        <h3>老男孩Linux高级运维班50%左右都是零基础的学生,因为班里有相对Linux基础和工作经验的同学,</h3>
        <h3>所以能很好的带动零基础学员的学习和就业,根据之前经验很多0基础学生就业和有基础同学就业相差无几,甚至超过有基础学员</h3>

        <div class="row">
            <div class="col-md-3">
                <img src="/static/img/course/linux_ops/02.png">
            </div>
            <div class="col-md-3">
                <img src="/static/img/course/linux_ops/03.png">
            </div>
            <div class="col-md-3">
                <img src="/static/img/course/linux_ops/04.png">
            </div>
            <div class="col-md-3">
                <img src="/static/img/course/linux_ops/05.png">
            </div>
        </div>
        <div class="row margin-top-20 " style="background-color: #2cd5b6">
          <div class="col-md-4">
            <div class="center">
              <img src="/static/img/course/linux_ops/th.png">
              <div>
                <span style="background-color: #9b6bcc ;color: white">老师博客</span>
                <span>www.blog.com</span>
              </div>
              <div>
                <span style="background-color: #9b6bcc ;color: white">老师视频</span>
                <span>www.blog.com</span>
              </div>
              <div>
                <span style="background-color: #9b6bcc ;color: white">老师书籍</span>
                <span>www.blog.com</span>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <h2>名师授客</h2>
            <h4>Linux运维及架构带头老师介绍</h4>
            <div>
              <span style="background-color: white;color: #1abc9c;">老男孩老师</span>
            </div>
            <p>
              老男孩培训创始人,资深Linux集群实战架构专家,51CTO专家,评委,从事一线运维架构实战及
              教育培训经验13年,著有跟老男孩学linux运维 WEB集群实战 等热门书籍.
              擅长大规模linux集群架构细节,老男孩讲课抓重点,重思想和实战技巧,特别注重理论联系实际
              教学,所教课程从企业需求分析开始手把手带大家实战完成高并发集群架构搭建与优化,所教学
              生(2014-2015),运维班平均就业工资10K+,高级架构班就业工资15K+,直接受益学生近万人
            </p>
          </div>
        </div>
      <!-- 课程内容介绍-->
      <div class="row margin-top-20">
       <div class="col-md-6">
         <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Java + Linux</h3>
          </div>
          <div class="panel-body">
            成高并发集群架构搭建与优化,所教学
              生(2014-2015),运维班平均就业工资10K+,高级架构班就业工资15K+,直接受益学生近万
          </div>
        </div>
       </div>
       <div class="col-md-6">
         <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Java + Linux</h3>
          </div>
          <div class="panel-body">
            成高并发集群架构搭建与优化,所教学
              生(2014-2015),运维班平均就业工资10K+,高级架构班就业工资15K+,直接受益学生近万
          </div>
        </div>
       </div>
       <div class="col-md-6">
         <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Java + Linux</h3>
          </div>
          <div class="panel-body">
            成高并发集群架构搭建与优化,所教学
              生(2014-2015),运维班平均就业工资10K+,高级架构班就业工资15K+,直接受益学生近万
          </div>
        </div>
       </div>
       <div class="col-md-6">
         <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Java + Linux</h3>
          </div>
          <div class="panel-body">
            成高并发集群架构搭建与优化,所教学
              生(2014-2015),运维班平均就业工资10K+,高级架构班就业工资15K+,直接受益学生近万
          </div>
        </div>
       </div>
      </div>
      <!--end 课程内容介绍-->
      <!-- 教育优势-->
      <div class="row margin-top-20">
        <div class="col-md-12 panel panel-default">
          <div class="panel-body">
            <h1><p class="text-center ">老男孩教育优势</p></h1>
            <h4><p class="text-center ">师资,实战,就业,服务,等等优势只为培养技术精英承诺买单</p></h4>
            <div class="row">
              <div class="col-md-2 margin-10 margin-left-35" style="background:url('/static/img/course/linux_ops/7_30.png') no-repeat;
              height: 179px">
                  <div style="margin-top: 50px ;margin-left: -35px">
                    <h1><p class="text-center">师资</p></h1>
                    <p class="text-center">行业一线知名导师授课</p>
                  </div>
              </div>
               <div class="col-md-2 margin-10 margin-left-35" style="background:url('/static/img/course/linux_ops/7_32.png') no-repeat;
              height: 179px">
                  <div style="margin-top: 50px ;margin-left: -35px">
                    <h1><p class="text-center">实战</p></h1>
                    <p class="text-center">200个真实项目实例</p>
                  </div>
              </div>
               <div class="col-md-2 margin-10 margin-left-35" style="background:url('/static/img/course/linux_ops/7_34.png') no-repeat;
              height: 179px">
                  <div style="margin-top: 50px ;margin-left: -35px">
                    <h1><p class="text-center">口碑</p></h1>
                    <p class="text-center">上百学员真实感言</p>
                  </div>
              </div>
               <div class="col-md-2 margin-10 margin-left-35" style="background:url('/static/img/course/linux_ops/7_36.png') no-repeat;
              height: 179px">
                  <div style="margin-top: 50px ;margin-left: -35px">
                    <h1><p class="text-center">就业</p></h1>
                    <p class="text-center">平均就业10000+</p>
                  </div>
              </div>
               <div class="col-md-2 margin-10 margin-left-35" style="background:url('/static/img/course/linux_ops/7_38.png') no-repeat;
              height: 179px">
                  <div style="margin-top: 50px ;margin-left: -35px">
                    <h1><p class="text-center">服务</p></h1>
                    <p class="text-center">生活学习无微不至</p>
                  </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--end 教育优势-->
      <!-- 学完之后我能做什么-->
      <div class="row margin-top-20">
        <div class="col-md-12 panel panel-default">
          <div class="panel-body">
            <h1><p class="text-center ">学完之后我能做什么</p></h1>
            <h4><p class="text-center ">价值决定了你的就业薪资,从此薪资你说了算</p></h4>
            <div class="row">
              <div class="col-md-2 margin-10 margin-left-35">
                    <img src="/static/img/course/linux_ops/7_46.png">
                    <div style="margin-top: 20px">
                    <p class="text-center">500台服务器集群项目实战</p>
                    <p class="text-center" style="margin-top: -10px">手把手实战</p>
                    </div>
              </div>
              <div class="col-md-2 margin-10 margin-left-35">
                    <img src="/static/img/course/linux_ops/7_48.png">
                    <div style="margin-top: 20px">
                    <p class="text-center">一键部署50台服务器网站</p>
                    <p class="text-center" style="margin-top: -10px">集群项目案例</p>
                    </div>
              </div>
              <div class="col-md-2 margin-10 margin-left-35">
                    <img src="/static/img/course/linux_ops/7_50.png">
                    <div style="margin-top: 20px">
                    <p class="text-center">百台以上规模集群可扩</p>
                    <p class="text-center" style="margin-top: -10px">展架构案例设计与实战</p>
                    </div>
              </div>
              <div class="col-md-2 margin-10 margin-left-35">
                    <img src="/static/img/course/linux_ops/7_52.png">
                    <div style="margin-top: 20px">
                    <p class="text-center">数据库集群高</p>
                    <p class="text-center" style="margin-top: -10px">可用项目案例</p>
                    </div>
              </div>
              <div class="col-md-2 margin-10 margin-left-35">
                    <img src="/static/img/course/linux_ops/7_46.png">
                    <div style="margin-top: 20px">
                    <p class="text-center">百台以上大网站规模</p>
                    <p class="text-center" style="margin-top: -10px">代码上线方案</p>
                    </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--end 学完之后我能做什么-->
      <!-- 学员就业信息-->
      <div class="row margin-top-20">
        <div class="col-md-12 panel panel-default">
          <div class="panel-body">
            <h1><p class="text-center ">学员就业信息</p></h1>
            <h4><p class="text-center ">前发高能-师兄高薪就业照</p></h4>
            <div class="col-md-4">
              <img class="img-sx" src="/static/img/course/linux_ops/7_63.png" >
            </div>
            <div class="col-md-4">
              <img class="img-sx" src="/static/img/course/linux_ops/7_63.png" >
            </div>
            <div class="col-md-4">
                <img class="img-sx" src="/static/img/course/linux_ops/7_63.png" >
            </div>
          </div>
        </div>

      </div>
      <!--end 学员就业信息-->
    </div>

</div>
<!--===end Content Part ===-->

<style>
.tips{
  margin: 10px 10px 10px -35px;
}
.margin-left-35 {
  margin-left: 35px;
}
.img-sx{
  width: 335px;
}
</style>
{% endblock %}
{% block bottom-js %}
<script>
    $(document).ready(function(){
        $("#course-menu").addClass("active");
    });//end doc ready
</script>
{% endblock %}