{% extends 'web/index.html' %}

{% block page-content-container %}
<div class="course-bg-img parallaxBg " style="background-position: 50% 16px;"
     xmlns="http://www.w3.org/1999/html">
  <div class="container container-below-navbar">
      <div class="col-md-10  " >

      </div>
  </div>

</div>

<!--=== Content Part ===-->
<div class="container content  gray-bg">
    <!-- 脱产课程-->
    <h2 class="classes-braner">&nbsp&nbsp&nbsp脱产课程</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="classes-png">
                <a href="{% url 'linux_architect' %}">
                    <img src="/static/img/class/python.png">
                    <p>Liunx中高级</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="classes-png">
                <a href="{% url 'course_py_devops' %}">
                    <img src="/static/img/class/python.png">
                    <p>Python自动化全栈开发</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="classes-png">
                <a href="{% url 'bigdata' %}">
                    <img src="/static/img/class/python.png">
                    <p>大数据课程</p>
                </a>
            </div>
        </div>
    </div>

    <!--end 脱产课程-->
    <!-- 周末课程-->
    <h2 class="classes-braner">&nbsp&nbsp&nbsp周末课程</h2>
    <div class="row">

        <div class="col-lg-4">
            <div class="classes-png">

                <a href="{% url 'course_linux_ops' %}">
                    <img src="/static/img/class/linux_ops.png">
                </a>
                <p>linux运维课程</p>
            </div>
        </div>
         <div class="col-lg-4">
            <div class="classes-png">
                <a href="{% url 'linux_architect' %}">
                    <img src="/static/img/class/python.png">
                    <p>系统架构</p>
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="classes-png">
                <a href="{% url 'course_py_ops' %}">
                    <img src="/static/img/class/linux_ops.png">
                </a>
                <p>Python自动化运维</p>
            </div>
        </div>
    </div>
    <!--end 周末课程-->
    <div class="row">
         <img class="col-lg-12" src="/static/img/qingcun.png">
    </div>

    <!--网络课程-->
    <h2 class="classes-braner">&nbsp&nbsp&nbsp网络课程</h2>
    <div class="row">
        <div class="col-lg-4">
            <div class="classes-png">
              <img src="/static/img/class/linux_ops.png">
            <p>linux运维课程</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="classes-png">
              <img src="/static/img/class/linux_ops.png">
            <p>linux运维课程</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="classes-png">
              <img src="/static/img/class/linux_ops.png">
            <p>linux运维课程</p>
            </div>
        </div>
    </div>
    <!-- end 网络课程-->

</div>

{% endblock %}