{% extends 'web/index.html' %}

{% block page-content-container %}

<div class="linux-course-bg " >
  <div class="container ">
      <div class=" container-below-navbar">
        <img src="/static/img/course/linux_ops/linux_ops_banner.jpg" >
      </div>
      <div class="row " style="margin-top: 10px">
				<div class="col-md-9 animated fadeInLeft">
					<h2>老男孩Linux运维毕业生,能拿多少工资?</h2>
					<p>经过学生允许,老男孩教育提供往届Linux运维班学生真实就业薪资供大家参考,我们保证所有学员就业公司,薪资,职位等信息均真实可靠!</p>
				</div>
				<div class="col-md-3 btn-buy  animated fadeInRight" style="left: 13px">
					<a href="#" class="btn-u btn-u-lg"><i class="fa fa-search-minus"></i>查看毕业生薪资列表>></a>
				</div>
      </div>

  </div>
</div>


<!--前景介绍-->
<div class="bg-color-gray">



    <div class="container content-sm">

            <!--start tab-->
            <div class="tab-v1" >
                    <ul class="nav nav-tabs tab-menu" style="border: 0px;margin-left: 110px">
                            <li class="active">
                                <a href="#home" data-toggle="tab" style="font-size: 17px;">
                                   什么是运维工程师
                                </a>
                            </li>
                            <li class="tab-menu-margin"><a href="#profile" style="font-size: 17px;" data-toggle="tab">什么是Linux</a></li>
                            <li class="tab-menu-margin"><a href="#messages"  style="font-size: 17px;" class="font-size-md" data-toggle="tab">Linux运维的前景如何</a></li>
                            <li class="tab-menu-margin"> <a href="#settings" style="font-size: 17px;" class="font-size-md" data-toggle="tab">学Linux好不好找工作</a></li>
                    </ul>
                    <div class="tab-content tab-background" >
                            <div class="tab-pane fade in active tab-content-padding" id="home">
                                    <div class="row">

                                            <div class="col-md-12">
                                                    <h1>什么是运维工程师?</h1>
                                                    <p>运维工程师这个词不太被大众知道是因为这个职位是整个互联网行业的幕后英雄,他们负责保障各个公司的IT系统稳定\高效\安全的运行,可以这么说,你只所以现在能在网上打游戏\看电影\购物\玩微信等,都离不开各个公司后台那些运维工程师们的默默支持!</p>
                                            </div>
                                    </div>
                            </div>
                            <div class="tab-pane fade in tab-content-padding" id="profile">
                                    <h1>什么是Linux?</h1>
                                    <p>Linux也是一个操作系统,不过跟我们熟知的Windows操作系统不同,Linux主要是用于运行企业的IT业务系统的,几乎所有的互联网公司都会首选把业务部署到Linux系统上来运行, 为什么呢? 因为Linux是免费的\开源的\并且相比较Windows来讲要稳定非常多,可以毫不谦虚的讲,Linux在企业应用中轻松甩Windows N多条街无压力!</p>
                            </div>
                            <div class="tab-pane fade in tab-content-padding" id="messages">
                                    <h1>Linux运维的前景如何?</h1>
                                    <p>知道么,你每发一条微信\点击一下网页\砍一个怪最后到要提交到的Linux系统上的业务程序里进行处理,既然几乎整个互联网的后台都跑在Linux上,那市场对于维护Linux系统的职位就变成了刚需,基本上每个互联网公司都需要配备专门的Linux运维人员来维护和保证他们业务安全稳定的运行.</p>
                                    <p>至少在能看到的将来,互联网对于Linux运维人才的需求量将一直保持稳定的刚需态势.</p>
                            </div>
                            <div class="tab-pane fade in tab-content-padding" id="settings">
                                    <h1>学Linux好不好找工作?</h1>
                                    <p>Linux运维工程师是一个比较有技术含量的职业,想成为一名优秀的Linux运维人员需要掌握丰富的IT技术知识,并且几乎每个互联公司都需要运维人员才维护他们的业务系统 ,因此只要你能学好Linux,找工作是个非常轻松的事,</p>
                            </div>
                    </div>
            </div>

            <!--start tab-->

    </div><!--end container-->

</div>
<!--0 前景介绍-->
<!--0 基础学习-->
<div class="bg-color-light">

    <div class="container content-sm">
            <div class="text-center margin-bottom-50">
                <h2 class="title-v2 title-center">0基础,适合Linux培训和就业么?</h2>
                <p class="space-lg-hor">老男孩Linux中高级运维班50%左右的学生都是0基础,甚至很多学员之前从未从事过计算机相关职业,另有一部分是有过一些Linux基础和相关工作经验的同学,但为了照顾0基础学员,本课程基础部分会讲的非常详细,确保所有同学都能顺利掌握本课程所有知识点. 我们现有的学员背影分布主要如下:</p>
            </div>

          <!--0基础能学么-->
           <div class="row margin-bottom-30">
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-compress service-icon"></i>
                        <div class="desc">
                            <h4>应届大学生</h4>
                            <p>即将毕业,大学期间打游戏\泡妹子,4年时光都喂了狗,快毕业了要找不到工作了才知道充电的学渣们</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-cogs service-icon"></i>
                        <div class="desc">
                            <h4>零基础人员</h4>
                            <p>对Linux感兴趣,并希望从事相关工作,之前可能是学挖掘机的\卖保险的\做行政的等whatever...,经历五花八门,但学习\改变是他们的共同目标!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-rocket service-icon"></i>
                        <div class="desc">
                            <h4>技能提升</h4>
                            <p>在其它培训机构学过一遍,找了工作却总是工资过不了万,本质原因还是自己太菜,攒了仨月工资咬牙再来充电,不学不行呀,谁让自己技术太水?</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="service">
                        <i class="fa fa-rocket service-icon"></i>
                        <div class="desc">
                            <h4>转行人员</h4>
                            <p>之前可能做开发\做设计\做市场,自从看了一眼Linux,就一入候门深似海，從此萧郎是路人!</p>
                        </div>
                    </div>
                </div>
            </div>
          <!--end 0基础能学么-->



    </div><!--end container-->


</div>
<!--0 基础学习-->

<!--名师授课-->
<div class="bg-color-orange linux-teacher-intro">
   <div class="container content-md" >

        <div class="text-center margin-bottom-50">
            <h1 style="color: ghostwhite;font-size: 50px" class="title-v2 title-center">啥才算名师授课?</h1>

        </div>
       <div class="row">
           <div class="col-md-5">
               <img src="/static/img/team/team1.jpeg">
           </div>
           <div class="col-md-7">
                <p class="space-lg-hor">老男孩培训创始人，资深Linux集群实战架构专家，51CTO专家、评委,业内公认知名Linux运维专家。从事一线运维架构实战及教育培训经验13年，著有《跟老男孩学linux运维》《WEB集群实战》等热销书籍。
                擅长大规模linux集群架构细节，老男孩讲课抓重点，重思想和实战技巧，特别注重理论联系实际教学，所教课程从企业需求分析开始手把手带大家实战完成高并发集群架构搭建和优化，所教学生运维班平均就业工资10K+，高级架构班平均就业工资15K+，直接受益学生近万人！几乎半个互联网的运维工程师都曾是老男孩老师的门徒!</p>
                <p class="space-lg-hor">老师博客: http://oldboy.blog.51cto.com/</p>
                <p class="space-lg-hor">老师视频: http://edu.51cto.com/lecturer/user_id-2561410.html</p>
                <p class="space-lg-hor">老师书籍: http://oldboy.blog.51cto.com/</p>
           </div>

       </div>

   </div>
</div>
<!--名师授课-->

<!--课程大纲-->
 <div class="full-w-block">
    <div class="container py-course-summary">

        <div class="title-v1" style="margin-top: 25px;">
            <h1 style="font-size: 50px">学会授课内容的60%知识点,即可年薪15W起</h1>
            <!--p style="color: white;">Well, believe or not,<strong>未来的趋势是运维的工作一定是高度自动化的</strong>,现在一个 10 人运维团队所做的事情,过几年可能<strong>只需要两三个人</strong>就能做的很好,再过3年,最多5年,<strong>单纯的运维工种将不复存在,</strong>替尔代之的是<strong>DevOps(即自动化运维工程师)</strong>,到那个时候,<strong>一个DveOps不会开发将是难以置信的</strong>,现在的运维从业者如果不尽快提高自身能力、改变对运维工作本质的认知,加入到运维自动化的变革升级浪潮中来,那么就请做好丢掉饭碗的准备。具体参见自动化大神Alex之前写过的文章<a href="http://3060674.blog.51cto.com/3050674/1598255">《普通运维人员就是秋后的蚂蚱!》</a>
            </p-->
        </div>

        <!--知识点count-->
        <div class="row">
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">6个月</span>
                      <h4>课程周期</h4>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">250+</span>
                      <h4>学时</h4>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">300+</span>
                      <h4>知识点</h4>
                  </div>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <div class="counters">
                      <span class="counter">15+</span>
                      <h4>企业实战案例</h4>
                  </div>
              </div>
          </div>
        <!--end 知识点count-->
    </div>
</div>

<div class="container content ">

    <!--课程大纲每行-->
    <div class="row equal-height-columns margin-bottom-20">
        <div class="col-md-6">
            <!-- Grey Panel with Equal Height -->
            <div class="panel panel-red equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="icon-education-002"></span>第一部分</h3>
                </div>
                <div class="panel-body">
                    <h4>Linux网站运维必会基础技术</h4>
                    <ul>
                        <li>老男孩教育往期优秀师兄学习经验及面试就业经验分享</li>
                        <li>如何成为一个优秀的linux运维人员</li>
                        <li>如何高标准的掌握linux运维实战技术</li>
                        <li>计算机硬件必备基础知识（生产知识高度讲解）</li>
                        <li>linux运维基础的基础<br/>
                            1)操作系统、Unix及Linux介绍<br/>
                            2)linux操作系统种类及运维人员选择建议<br/>
                            3)CentOS Linux原理深入、安装、性能及安全优化<br/>
                            4)无人值守（kickstart/cobbler）批量安装CentOS<br/>
                            5)常用运维工具讲解:远程连接工具原理及使用，编辑工具，比较工具，亿图画图工具，远程连接故障排错。<br/>
                            6)150个linux命令熟练掌握。<br/>
                            7)liunx体系结构、启动过程、文件类型、目录结构<br/>
                            8)vi/vim/vimdiff编辑器详解。<br/>
                            9)基础命令通过问答案例深度实践：cat tac more less head tail cut split paste sort uniq wc iconv dos2unix file diff vimdiff rev grep egrep join tr vi/vim uname hostname dmesg uptime file stat top free date
                            </li>
                        <li>Linux系统内部重要知识<br/>
                             1)文件属性、目录结构深度讲解<br/>
                            2)软硬链接知识深度讲解<br/>
                            3)权限体系深度讲解（12位权限）<br/>
                            4)用户和组管理深度讲解<br/>
                            5)sudo集权分治企业项目案例实战<br/>
                            6)命令行日志审计企业项目案例实战<br/>
                            4)文件、链接、权限管理命令<br/>
                            5)相关基础命令深度问答案例实践：
                            ls cd cp find mkdir mv pwd rename rm rmdir touch tree basename dirname chattr lsattr file md5sum
                            tar unzip gzip zip which find whereis locate

                        </li>
                        <li>Linux磁盘及文件系统知识<br/>
                            1)Linux磁盘原理、磁盘管理企业案例深度讲解<br/>
                            2)文件系统知识、类型，生产选型企业案例深度讲解<br/>
                            3)分区原理、主扩展分区知识、分区企业案例、Lvm基础<br/>
                            4)软硬Raid知识及生产选型企业案例深度讲解<br/>
                            6)磁盘文件系统深度实践：mount umount df du fsck dd dumpe2fs dump fdisk parted mkfs partprobe e2fsck mkswap swapon swapon sync resize2fs



                        </li>
                        <li>Linux运维必备的基础网络知识<br/>
                            01)网线-交换机-路由器-OSI模型-tcp/ip协议<br/>
                            02)企业上网流程原理细节深入讲解<br/>
                            03)用户访问网站的详细原理流程<br/>
                            04)协议-IP地址分类、子网划分基础知识<br/>
                            05)DNS基本知识介绍<br/>
                            06)DNS解析原理详细深度讲解与命令实践<br/>
                            07)网卡知识-DNS配置-生效讲解<br/>
                            08)主机名更改实战及原理讲解    <br/>
                            09)默认网关的更改及命令行配置讲解<br/>
                            10)命令行配置ip别名辅助IP实践<br/>
                            11)网络及服务故障排查思路及命令讲解<br/>
                            12)局域网某个机器无法上网排查思路大全详解<br/>
                            13)Linux运维人员维护的网站慢如何排查思路大全<br/>


                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Grey Panel with Equal Height -->
        </div>
        <div class="col-md-6">
            <!-- Red Panel with Equal Height -->
            <div class="panel panel-aqua equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第二部分</h3>
                </div>
                <div class="panel-body">
                    <h4>搭建中小规模网站集群项目实战(10-50台规模) </h4>
                    <ul>
                        <li>linux网站运维必会的基础网络服务<br/>
                            01)定时任务crond服务<br/>
                            02)Nfs网络文件系统及企业案例、Mfs、FastDFS介绍。<br/>
                            03)数据同步服务：ssh,scp,sftp,rsync,inotify,sersync,drbd,unions,csync,深度讲解ssh,scp,sftp,rsync,inotify,sersync<br/>
                            04) 第一个企业项目实战：企业生产全网服务备份深度讲解<br/>
                            05)批量分发管理：telnet/nmap/nc、ssh服务、ssh密钥批量分发、管理服务器企业应用案例讲解<br/>
                            06）第二个企业项目实战：集权分治用户管理体系与用户日志审计解决方案实践。<br/>
                            06)expect非交互语言讲解及企业分发项目案例<br/>
                            07)saltstack高级批量管理工具介绍。<br/>
                            08）第三个企业项目实战：批量分发、批量管理数十台服务器搭建实践。

                        </li>
                        <li>Web高级服务lamp、lnmp架构精讲<br/>
                            01)WWW概念原理<br/>
                            02)HTTP协议原理深度讲解<br/>
                            03)用户上网流程原理深度讲解<br/>
                            04)DNS解析原理深度讲解<br/>
                            05)web服务名词IP,PV,UV原理深度讲解<br/>
                            06)WEB1.0-3.0概念,B/C架构,sesson/cookie讲解<br/>
                            07)动态、静态、伪静态概念原理讲解。<br/>
                            08)LAMP和LNMP两套架构搭建实战<br/>
                            09) LAMP和LNMP WEB生产性能优化、安全优化50条<br/>
                            10)中型互联网网站集群架构优化<br/>
                            11)CDN网站加速原理及使用步骤细节<br/>
                            11)nginx反向代理集群初步实战<br/>
                            12)第四个企业项目：10-20台服务器网站集群项目搭建项目实战<br/>
                            包含数十个企业项目解决方案：<br/>
                            提示：老师手把手带大家实战10-20台服务器网站集群项目

                        </li>
                        <li>web大数据日志分析基础及linux三剑客深度实践<br/>
                            01)使用awk,grep,sed,sort,uniq分析处理日志企业案例<br/>
                            02)使用awstats软件做日志分析<br/>
                            03)linux正则表达式深度实践<br/>
                            04)linux三剑客grep,sed,awk深度企业案例应用,awk数组解决企业网站宕机故障案例。<br/>
                            05)介绍日志分析高级工具flume,scribe ,ELK(Elasticsearch+Logstash+Kibana)
                        </li>
                        <li>拓展技术讲解（期中集群架构，学生完成后讲解）<br/>
                            老男孩集群项目实战拓展技能项：<br/>
                            1、搭建yum仓库、定制rpm包。<br/>
                            2、配置ntp时间服务。<br/>
                            3、配置zabbix监控全网服务。<br/>
                            4、解决负载均衡的单点（keepalived）。<br/>
                            5、部署pptp vpn远程连接、管理服务器。<br/>
                            6、实现MySQL主从复制、主从读写分离。<br/>
                            7、解决NFS单点故障切换。<br/>
                            8、实现所有无外部IP内的网服务器可以上外网。<br/>
                            9、利用shell脚本及saltstack一键自动化安装整个集群。<br/>
                            10、无人值守批量安装linux（kickstart/cobbler）<br/>
                            提示：手把手带大家实战10-20台服务器网站集群项目


                        </li>
                        <li>数十个知名企业故障解决方案精选案例<br/>
                            1、防木马防病毒赶集网企业真实案例<br/>
                            2、防DDOS攻击N种解决方案<br/>
                            3、防DOS/SYN攻击解决方案<br/>
                            4、百度linux内核优化企业真实案例<br/>
                            5、小米网秒杀系统企业真实案例<br/>
                            6、企业机房流量暴涨多个企业案例<br/>
                            7、Sina网数据库架构及恢复案例<br/>
                            8、小米网代码上线解决方案<br/>
                            9、支付宝代码上线方案及项目负责方案<br/>


                        </li>
                        <li>FTP服务器开发</li>
                        <li>批量命令、文件分布工具</li>
                    </ul>
                </div>
            </div>
            <!-- End Red Panel with Equal Height -->
        </div>
    </div>
    <!--end 课程大纲每行-->
    <!--课程大纲每行-->
    <div class="row equal-height-columns margin-bottom-20">
        <div class="col-md-6">
            <!-- Grey Panel with Equal Height -->
            <div class="panel panel-orange equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="icon-education-002"></span>第三部分</h3>
                </div>
                <div class="panel-body">
                    <h4>数据库核心技术实战</h4>
                    <ul>
                        <li>MySQL数据库核心技术深度理论与应用实战<br/>
                            01)运维DBA MySQL基础入门<br/>
                            02)MySQL多实例安装与企业应用场景<br/>
                            03)MySQL应用管理及进阶实战操作<br/>
                            04)MySQL字符集知识及乱码问题深度剖析解决实战<br/>
                            05)MySQL备份)增量备份及数据恢复基础实战<br/>
                            06)MySQL主从复制原理及实战部署<br/>
                            07)MySQL主从复制企业级深入高级应用实战<br/>
                            08)MySQL备份与恢复实战案例及生产方案<br/>
                            09)MySQL服务日志详细介绍及增量恢复命令实践<br/>
                            10)MySQL常用引擎及优缺点)应用场景)调优详解<br/>
                            11)MySQL读写分离开发及软件实现)物理备份)高可用<br/>
                            12)MySQL高可用工具heartbeat+drbd分享实战<br/>
                            13)MySQL高可用MHA分享实战<br/>
                            14)MySQL高可用MMM分享实战<br/>
                            15)MySQL读写分离高可用中间件Mycat,cobar,amoeba分享实战<br/>
                            16)MySQL数据库优化思想与优化实战<br/>
                            17)MySQL业务变更流程与安全管理思想<br/>
                            18)穿插100道企业MySQL面试题精讲。



                        </li>
                        <li>分布式缓存Memcached实战<br/>
                            1)Memcached是什么，有什么作用？<br/>
                            2)企业中使用Memcached服务做什么应用？<br/>
                            3)Memcached在不同企业业务应用场景中工作流程<br/>
                            4)Memcached服务分布式集群如何实现？<br/>
                            5)Memcached服务特点及工作原理是什么？<br/>
                            6)简述Memcached内存管理机制原理？<br/>
                            7)Memcached的删除原理与删除机制？<br/>
                            8)MEMCACHED服务端与客户端的安装部署<br/>
                            9)如何实现集群中的session共享存储？<br/>
                            10)如何获取MEMCACHED服务的状态信息<br/>
                            11)监控Memcached需要监控哪些指标<br/>
                            12)redis是什么，有什么作用？<br/>
                            13)memcached与redis的区别？



                        </li>
                        <li>分布式缓存Redis数据库实战<br/>
                            01)NoSQL数据库介绍、可以解决哪些问题及应用场景<br/>
                            02)主流NoSQL数据库分类及特点简介<br/>
                            03)生产场景如何选择NOSQL数据库？<br/>
                            04)redis概述及特点、优点及缺陷、应用场景<br/>
                            05)redis安装、配置并启动redis服务<br/>
                            06)php的redis客户端安装及开发程序操作redis<br/>
                            97)开发python程序实战操作redis<br/>
                            08)redis多数据类型深入讲解<br/>
                            09)redis多实例介绍及手把手实战<br/>
                            10)redis主从同步基本原理、手把手实战讲解<br/>
                            11)redis高级特性)发布订阅消息服务功能<br/>
                            12)redis数据过期实战及redis服务数据过期原理<br/>
                            13)redis高级特性事务、持久化快照及aof技术讲解<br/>
                            14)redis常用管理命令介绍与实践<br/>
                            15)redis生产优化经验


                        </li>
                        <li>Jquery/EasyUi/AngulaJS框架学习</li>
                        <li>Ajax异步加载</li>
                        <li>Highchart/Echart动态画图</li>
                        <li>Bootstrap前端框架学习</li>
                    </ul>
                </div>
            </div>
            <!-- End Grey Panel with Equal Height -->
        </div>
        <div class="col-md-6">
            <!-- Red Panel with Equal Height -->
            <div class="panel panel-green equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第四部分</h3>
                </div>
                <div class="panel-body">
                    <h4>linux必会自动化运维开发技术（Shell+Python） </h4>
                    <p>提示：国内Linux培训，Shell最细课程（连续多年无机构超越).</p>
                    <ul>
                        <li>Shell自动化运维高级编程实战精讲
                        ├─L001-老男孩教育-2016最新Shell高级编程实战第一二部
                        1-2016最新课程-Shell编程课前思想-我一定要学好shell编程<br/>
                        2-2016最新课程-学好Shell编程需要的必备基础<br/>
                        3-2016最新课程-Shell脚本介绍及第一个规范Shell脚本说明<br/>
                        4-2016最新课程-Shell编程的作用和地位<br/>
                        5-2016最新课程-Shell语言的种类介绍<br/>
                        6-2016最新课程-其它脚本语言介绍<br/>
                        7-2016最新课程-Shell脚本的建立和执行<br/>
                        8-2016最新课程-Shell脚本执行的重点知识<br/>
                        9-2016最新课程-Shell脚本的开发基础规范及习惯<br/>
                        10-2016最新课程-Shell变量介绍及特性说明<br/>
                        11-2016最新课程-Shell的环境变量介绍<br/>
                        12-2016最新课程-Shell的环境变量知识总结<br/>
                        13-2016最新课程-Shell的普通变量介绍<br/>
                        14-2016最新课程-Shell变量定义的引号知识重点<br/>
                        15-2016最新课程-Shell特殊变量介绍与实践1<br/>
                        16-2016最新课程-Shell特殊变量介绍与实践2<br/>
                        17-2016最新课程-Shell特殊变量介绍与实践3<br/>
                        18-2016最新课程-变量的子串知识及实践1<br/>
                        19-2016最新课程-变量的子串知识及实践2<br/>
                        20-2016最新课程-变量的数值运算知识及实践1<br/>
                        21-2016最新课程-变量的数值运算知识及实践2<br/>
                        22--2016最新课程变量的数值运算expr知识深度实践3<br/>
                        ├─L002-老男孩教育-2016最新Shell高级编程实战第三四部<br/>
                        1-2016老男孩最新课程-课前提问上节知识与内容回顾<br/>
                        2-2016老男孩最新课程-Shell的数值运算深度实践4<br/>
                        3-2016老男孩最新课程-Shell的数值运算知识深度实践5<br/>
                        4-2016老男孩最新课程-变量的读入之read知识及实战脚本开发<br/>
                        5-2016老男孩最新课程-Shell的条件表达式知识初步介绍实践<br/>
                        6-2016老男孩最新课程-Shell的文件表达式介绍-实践及企业案例脚本剖析<br/>
                        7-2016老男孩最新课程-Shell的字符串表达式介绍-实践及企业案例脚本剖析<br/>
                        8-2016老男孩最新课程-Shell的整数表达式介绍-实践及企业案例脚本剖析<br/>
                        9-2016老男孩最新课程-Shell的逻辑操作符知识介绍-实践及企业案例脚本剖析<br/>
                        10-2016老男孩最新课程-Shell的各种表达式综合脚本开发实战讲解<br/>
                        11-2016老男孩最新课程-利用所学知识打印一二级菜单操作企业案例实践<br/>
                        12-2016老男孩最新课程-if条件句语法介绍及形象比喻<br/>
                        13-2016老男孩最新课程-监控系统内存并报警企业案例脚本开发实战<br/>
                        14-2016老男孩最新课程-利用if监控web和db的多种方法介绍及实践1<br/>
                        15-2016老男孩最新课程-利用if监控web和db的多种方法介绍及实践2<br/>
                        16-2016老男孩最新课程-Shell课堂学生拿到OFFER分享<br/>
                        17-2016老男孩最新课程-Shell分组学习规划<br/>
                        18-2016老男孩最新课程-课后作业<br/>
                        ├─L003-老男孩教育-2016最新Shell高级编程实战第五六部<br/>
                        0-课前思想-葛亮挥泪斩马谡<br/>
                        1-企业级增删改查用户脚本开发实战分享<br/>
                        10-while循环介绍及实践<br/>
                        11-Shell脚本手机充值案例精讲-王书彬.avi<br/>
                        12-Shell脚本手机充值案例精讲后修改及点评-老男孩<br/>
                        13-While循环读取日志分析的企业案例多种方法精讲<br/>
                        14-课后作业与下节内容预习说明<br/>
                        2-Shell函数的介绍及实践<br/>
                        3-Shell的函数及函数传参实践<br/>
                        4-监控网站是否异常企业案例脚本开发手把手讲解<br/>
                        5-给任意字符串加指定颜色的企业级函数案例实战<br/>
                        6-shell的case语句介绍及案例实践<br/>
                        7-开发Nginx启动脚本并实现加入开机自启动管理实战-王续<br/>
                        8-开发Nginx启动脚本并实现加入开机自启动管理实战-老男孩点评修改<br/>
                        9-case语句企业案例和系统脚本剖析<br/>
                        ├─L004-老男孩教育-2016最新Shell高级编程实战第七八部<br/>
                        1-课前思想-学会感恩会让自己的路越走越宽<br/>
                        2-Shell for循环结构介绍及多个企业案例实践<br/>
                        3-Shell循环的控制命令介绍及区别实践对比<br/>
                        4-Shell循环的例子说明<br/>
                        5-Shell数组的介绍及实践<br/>
                        6-Shell数组的案例实践与数组核心总结<br/>
                        7-Shell22道企业案例精讲动员-讲解见后面<br/>
                        8-Shell脚本的调试方法及实践-(1)<br/>
                        9-Shell脚本的调试方法及实践-(2)<br/>
                        10-Shell脚本的调试方法及实践-(3)<br/>
                        11-Shell脚本的调试方法及实践-(4)<br/>
                        12-shell企业面试题讲解1-老男孩23期谢迪<br/>
                        13-shell企业面试题讲解2-老男孩23期李闯<br/>
                        14-shell企业面试题讲解1-老男孩23期王二麻<br/>
                        15-linux跳板机案例开发之trap信号知识分享讲解<br/>
                        16-linux跳板机案例实战开发分享讲解<br/>
                        17-linux跳板机使用安全方案分享讲解<br/>
                        ├─L005-老男孩教育-2016最新Shell高级编程实战第九十部-22道企业面试题竞选实战讲解<br/>
                        1-批量创建文件Shell编程手把手实战案例<br/>
                        2-批量修改文件名Shell编程手把手实战案例<br/>
                        3-批量创建用户及密码Shell编程手把手实战案例<br/>
                        4-破解RANDOM随机数md5sum后内容Shell编程手把手实战案例<br/>
                        5-企业案例-过滤固定长度单词手把手多案例实践<br/>
                        6-批量检查网站地址是否异常专业脚本开发实践<br/>
                        7-MySQL分库备份脚本实战讲解<br/>
                        8-MySQL分库分表备份脚本实战讲解.<br/>
                        9-开发MySQL专业启动脚本手把手实战讲解<br/>
                        10-开发脚本防止DOS攻击自动封IP案例<br/>
                        11-开发专业监控MySQL主从复制故障手把手实战<br/>
                        12-中企动力面试题手把手实战讲解<br/>
                        13-分库分表备份实战分享-王续20151231-<br/>
                        ├─L006-老男孩教育-2016最新Shell高级编程实战第十一二部-22道企业面试题优秀学员精彩讲解<br/>
                        1-老男孩教育22道企业SHELL高级企业案例讲解总动员-老男孩老师<br/>
                        2-批量创建带随机字符串的文件多种方法万永振<br/>
                        3-批量修改文件名多种方法讲解万永振<br/>
                        4-1-批量创建10个系统帐号oldboy01-oldboy10并设置密码多种方法徐亮伟<br/>
                        4-2-批量创建10个系统帐号oldboy01-oldboy10并设置密码万永振<br/>
                        5-实现判断10.0.0.024网络里当前在线用户的IP有哪些N种方法曹亚楠<br/>
                        6-开发脚本解决DOS攻击生产案例多种方法讲解温艳杰<br/>
                        7-输出一堆英文中字母数不大于6的单词企业面试案例曹亚楠<br/>
                        8-比较两个整数大小并严格判断参数输入脚本讲解曹亚楠<br/>
                        9-利用shell数组批量检查网站是否异常企业案例精讲-王续<br/>
                        10-开发rsync同步软件启动脚本讲解王续<br/>
                        11-开发shell脚本实现抓阄去项目实践案例精讲-王续<br/>
                        12-1-监控web及db服务是否正常的多种方法讲解曹亚楠<br/>
                        12-2-监控web及db服务是否正常的多种方法讲解温艳杰<br/>
                        13-利用shell数组技术开发监控MySQL主从复制状态的脚本讲解万永振<br/>
                        14-1-开发shell脚本暴力破解RANDOM随机数案例精讲-曹亚楠<br/>
                        14-2-开发shell脚本暴力破解RANDOM随机数案例精讲-王续<br/>
                        15-MySQL服务启动脚本开发讲解万永振<br/>
                        16-中企动力面试器单词及字符拆分排序案例多种方法讲解王续<br/>
                        17-开发shell脚本暴力破解RANDOM随机数案例精讲-王续<br/>
                        18-开发shell脚本监控网站挂马企业案例讲解王续<br/>
                        19-利用shell开发打印特殊形状的脚本多案例精讲侯鹏飞<br/>
                        20-比较两个整数大小并严格判断参数输入脚本讲解温艳杰<br/>
                        21-开发打印菜单一键安装LAMP及LNMP服务温艳杰<br/>
                        22-MySQL分库分表开发SHELL脚本实现备份实战分享-老男孩运维班26期-王续<br/>
                        ├─L007-老男孩教育-2016最新Shell高级编程实战第十三部-三剑客之sed实践讲解<br/>
                        01-sed命令简介及语法及增加案例<br/>
                        02-sed删除用法案例<br/>
                        03-sed替换用法案例1<br/>
                        04-sed替换用法案例2<br/>
                        05-sed查询用法案例<br/>
                        06-sed修改文件及另存文件及替换命令详解<br/>
                        07-sed替换标志及获取文件行号<br/>
                        08-一条sed语句执行多条sed命令<br/>
                        09-特殊符号{}及命令lyqr<br/>
                        10-模式空间和保持空间<br/>
                        11-sed模拟其他命令<br/>
                        └─L008-老男孩教育-Shell高级编程实战第十四部-AWK数组国内企业案例最细精讲<br/>
                        oldboy6-企业最常用计数排序案例面试题之uniq命令讲解1<br/>
                        oldboy7-企业最常用计数排序案例面试题之uniq命令讲解2<br/>
                        oldboy8-企业最常用计数排序案例面试题之sort命令讲解1<br/>
                        oldboy9-企业最常用计数排序案例面试题之sort命令讲解2<br/>
                        oldboy10-企业最常用计数排序案例面试题之sort命令讲解3<br/>
                        oldboy11-企业最常用计数排序案例面试题之awk数组初步讲解1<br/>
                        oldboy12-企业最常用计数排序案例面试题之awk数组进阶讲解2<br/>
                        oldboy13-企业最常用计数排序案例面试题之awk数组深度解决实战3<br/>
                        oldboy14-企业最常用案例日志分析面试题awk数组深度解决实战4<br/>
                        oldboy15-企业最常用案例连接数分析面试题awk数组深度解决实战5<br/>
                        oldboy16-利用awk多数组轻松解决机房流量暴涨案例分析6<br/>
                        oldboy17-利用awk多数组轻松解决机房流量暴涨案例实战7<br/>
                        oldboy18-利用awk多数组轻松解决机房流量暴涨案例实战8<br/>

                        </li>
                        <li>
                            Python自动化编程入门（共数十节）2016最新python2.0课程<br/>
                            往期py视频:http://edu.51cto.com/course/course_id-963.html<br/>
                            http://edu.51cto.com/course/course_id-3029.html

                        </li>

                    </ul>
                </div>
            </div>
            <!-- End Red Panel with Equal Height -->
        </div>
    </div>
    <!--end 课程大纲每行-->
    <!--课程大纲每行-->
    <div class="row equal-height-columns margin-bottom-20">
        <div class="col-md-6">
            <!-- Grey Panel with Equal Height -->
            <div class="panel panel-yellow equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="icon-education-002"></span>第五部分</h3>
                </div>
                <div class="panel-body">
                    <h4>linux网站集群负载均衡与反向代理技术</h4>
                    <ul>
                        <li>网站集群负载均衡与反向代理技术讲解<br/>
                            lvs、haproxy、nginx集群架构精讲，Keepalived高可用精讲。<br/>
                            lvs+keepalived:<br/>
                            http://edu.51cto.com/course/course_id-607.html<br/>
                            http://edu.51cto.com/course/course_id-616.html<br/>
                            nginx+keepalived：<br/>
                            http://edu.51cto.com/course/course_id-3520.html


                        </li>
                        <li>企业级监控软件实战与流量控制<br/>
                            nagios、zabbix、cacti企业级监控软件应用实战<br/>
                            (此课最新一期三选一面授讲解，重点讲zabbix，在线课程同时给未讲的往期视频，让学生多学习东西)<br/>
                            nagios:http://edu.51cto.com/course/course_id-1740.html<br/>
                            zabbix:http://edu.51cto.com/course/course_id-3619.html<br/>
                            heartbeat:http://edu.51cto.com/course/course_id-1308.html<br/>
                            drbd:http://edu.51cto.com/course/course_id-1359.html

                        </li>
                        <li>Django\Tornado\Flask\Bottle\WebPy框架学习</li>
                        <li>Session\中件间\ORM\Cookie\Session\CSRF\FORM...学习</li>
                        <li>Restful API接口规范学习</li>
                        <li>权限管理后台开发</li>
                        <li>开发BBS论坛,实现发贴,多级评论,文件上传等论坛常见功能</li>
                        <li>开发仿WEB QQ聊天室,实现多人在线实时聊天</li>
                    </ul>

                </div>
            </div>
            <!-- End Grey Panel with Equal Height -->
        </div>
        <div class="col-md-6">
            <!-- Red Panel with Equal Height -->
            <div class="panel panel-sea equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第六部分</h3>
                </div>
                <div class="panel-body">
                    <h4>KVM虚拟化、版本管理系统、VPN拨号高级课程</h4>
                    <ul>
                        <li>虚拟化技术介绍、kvm软件、svn版本管理（代码上线解决方案），vpn远程拨号实战。</li>
                        <li>linux网络及网络服务优化及安全（数百个防护策略)<br/>
                        iptables精讲，操作系统自身防护30条、应用软件防护30条、WEB，DB安全100条以上、程序代码防护、网站架构层安全防护，系统安全30条以上。
                        </li>

                    </ul>
                </div>
            </div>
            <!-- End Red Panel with Equal Height -->
        </div>
    </div>

    <!--end 课程大纲每行-->
    <!--课程大纲每行-->
    <div class="row equal-height-columns margin-bottom-20">
        <div class="col-md-6">
            <!-- Grey Panel with Equal Height -->
            <div class="panel panel-yellow equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="icon-education-002"></span>第七部分</h3>
                </div>
                <div class="panel-body">
                    <h4>linux数十个企业真实项目实战技术</h4>
                    <ul>
                        <li>搭建100台服务器集群架构实战项目</li>
                        <li>全网服务器监控方案项目</li>
                        <li>服务器自动化部署项目</li>
                        <li>新服务器上线流程项目</li>
                        <li>全网服务器数据备份方案</li>
                        <li>服务器用户权限管理改造方案</li>
                        <li>服务器日志审计项目</li>
                        <li>跳板机项目</li>
                        <li>web及db业务迁移方案及实施</li>
                        <li>高可用数据库服务器搭建方案及实施</li>
                        <li>网段划分及IP地址扩展到1000台服务器</li>
                        <li>代码发布方案</li>
                        <li>网站综合安全项目解决方案</li>
                        <li>企业级监控项目实践</li>
                        <li>一键自动化上百台集群架构实战解决方案</li>
                        <li>批量安装上千台服务器解决方案</li>

                    </ul>

                </div>
            </div>
            <!-- End Grey Panel with Equal Height -->
        </div>
        <div class="col-md-6">
            <!-- Red Panel with Equal Height -->
            <div class="panel panel-sea equal-height-column" style="height: 220px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-tasks"></i>第八部分</h3>
                </div>
                <div class="panel-body">
                    <h4>神一样的就业指导</h4>
                    <ul>
                        <li>带领学生多所学课程全面复习</li>
                        <li>总结重点、企业常见笔试、口头面试题（300道以上）</li>
                        <li>学生职业素养、就业指导全面细致讲解（40节）
                            01-面试及入职应该有的工作心态<br/>
                            02-上战场杀敌的本领重点回顾<br/>
                            03-刀磨快了才能上战场杀敌否则就是送死<br/>
                            04-如何制作优秀linux运维简历要点123及案例说明<br/>
                            05-如何制作优秀linux运维简历要点456及案例说明<br/>
                            06-如何制作优秀linux运维简历之打印优质简历秒杀竞争对手<br/>
                            07-如何写优秀linux运维简历细节详解1<br/>
                            08-如何写优秀linux运维简历细节详解2<br/>
                            09-10K以上的简历设计制作细节与项目案例细节<br/>
                            10-一些特别的就业指导说明<br/>
                            11-投递简历的超级技巧详解<br/>
                            12-简历分档-投递时间及投递平台选择技巧<br/>
                            13-面试前的相关准备重点内容详解<br/>
                            14-确定参加面试后的一些重要细节准备技巧<br/>
                            15-面试时的说话及解答超级技巧详解<br/>
                            16-确定面试后应该有的心理与职业素质讲解<br/>
                            17-老男孩教育对学员的面试过程及结果要求<br/>
                            .....好多呀,做网页的心好累,后面还有好多不写了

                        </li>

                    </ul>
                </div>
            </div>
            <!-- End Red Panel with Equal Height -->
        </div>
    </div>
    <!--end 课程大纲每行-->

</div>
<!--end container-->
<!--end课程大纲-->
<!--老男孩优势-->
 <div class="full-w-block">
    <div class="container linux-course-summary">

        <div class="title-v1" style="margin-top: 25px;">
            <h1 style="font-size: 50px;color: whitesmoke;">我们的优势</h1>
            <!--p style="color: white;">Well, believe or not,<strong>未来的趋势是运维的工作一定是高度自动化的</strong>,现在一个 10 人运维团队所做的事情,过几年可能<strong>只需要两三个人</strong>就能做的很好,再过3年,最多5年,<strong>单纯的运维工种将不复存在,</strong>替尔代之的是<strong>DevOps(即自动化运维工程师)</strong>,到那个时候,<strong>一个DveOps不会开发将是难以置信的</strong>,现在的运维从业者如果不尽快提高自身能力、改变对运维工作本质的认知,加入到运维自动化的变革升级浪潮中来,那么就请做好丢掉饭碗的准备。具体参见自动化大神Alex之前写过的文章<a href="http://3060674.blog.51cto.com/3050674/1598255">《普通运维人员就是秋后的蚂蚱!》</a>
            </p-->
        </div>

        <!--知识点count-->
        <div class="row">
              <div class="col-sm-2 col-xs-6">
                  <div class="counters">
                      <span class="counter">品牌</span>
                      <h5>国内最专业的运维培训机构</h5>
                  </div>
              </div>
              <div class="col-sm-2 col-xs-6">
                  <div class="counters">
                      <span class="counter">课程</span>
                      <h5>课程最全面\最深入,只讲皮毛的都是耍流氓</h5>
                  </div>
              </div>
              <div class="col-sm-2 col-xs-6">
                  <div class="counters">
                      <span class="counter">讲师</span>
                      <h5>老男孩老师亲自授课,NB无需解释</h5>
                  </div>
              </div>
              <div class="col-sm-2 col-xs-6">
                  <div class="counters">
                      <span class="counter">上课</span>
                      <h5>实战为主,光讲理论,毛用没有,还得上手干</h5>
                  </div>
              </div>

               <div class="col-sm-2 col-xs-6">
                  <div class="counters">
                      <span class="counter">就业</span>
                      <h5>学员平均工资10000+,拿事实说话最有力</h5>
                  </div>
              </div>
              <div class="col-sm-2 col-xs-6">
                  <div class="counters">
                      <span class="counter">服务</span>
                      <h5>半军事化管理,想学好就得脱层皮</h5>
                  </div>
              </div>
          </div>
        <!--end 知识点count-->
    </div>
</div>


<!--end 老男孩优势-->
<!--部分学员offer展示-->
<div class="container content">
    <div class="row">
        <h2 class="title-v2">部分近期毕业学员Offer展示</h2>
    </div>
    <div class="row">
        <img class="col-md-4"  src="/static/img/offers/linux/14.jpg">
        <img class="col-md-8" src="/static/img/offers/linux/15.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-5"  src="/static/img/offers/linux/16.jpg">
        <img class="col-md-7" src="/static/img/offers/linux/17.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-5"  src="/static/img/offers/linux/18.jpg">
        <img class="col-md-7" src="/static/img/offers/linux/19.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/20.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/21.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/22.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/23.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/24.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/25.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/26.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/27.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/28.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/29.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/30.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/31.jpg">
    </div>
</div>
<!--end 部分学员offer展示-->

<div class="linux-course-bg-img  ">
  <div class="container ">
      <div class="col-md-12  " >
          <h1 style="font-size: 80px;color:black">老男孩IT教育,只培养技术精英</h1>
          <hr style="border-color:black;"/>
          <span style="font-size: 40px;background-color: beige">世界上没有人是贫穷的,除非他没有知识!</span>


      </div>
  </div>
</div>
<!--=== Content Part ===-->

<!--立即咨询-->
<div class="bg-color-light" style="margin-top: -20px;">
    <div class="row">
       <div class="col-md-6">
           <img src="/static/img/course/linux_ops/linux_5.jpg" width="100%">

       </div>
       <div class="col-md-6">

           <div>
               <p style="font-size: 100px;margin-top: 25px">让自己高薪就业,立足一线城市!</p>
               
               <h3>人若没有梦想,和咸鱼有什么区别? 来老男孩,让我们一起致青春!</h3>
               <button class="btn-u btn-u-lg rounded btn-u-red" type="button"><i class="fa fa-user "></i> 立刻咨询</button>
           </div>
       </div>

    </div>


</div>
<!--end 立即咨询-->



{% endblock %}
{% block bottom-js %}
<script>
    $(document).ready(function(){
        $("#course-menu").addClass("active");
    });//end doc ready
</script>
{% endblock %}