{% extends 'web/base.html' %}
{% load custom_tags %}
{% block page-container %}


<div class="wrapper">
    <!--=== Header Top ===-->
    <div class="row header-top">
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-10">
                    <p>专注运维领域11年-铸就中国精英Linux运维培训第一品牌</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-9 header-top-left">
                    <a href="{% url 'how_to_enroll' %}">报名流程 |</a>
                    <a href="{% url 'how_to_enroll' %}">常见问题 |</a>
                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=&amp;site=qq&amp;menu=yes" target="_blank">
                    在线咨询 |
                    </a>
                    <a href="{% url 'about_us' %}">联系我们 |</a>
                    <a href="{% url 'about_us' %}">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <!--===end Header Top ===-->

    <!-- 首页导航栏 -->
    <div class="container "><!--container-->
        <div class="row header-top-1"><!--row-->
            <div class="col-lg-2">
                <a class="logo" href="{% url 'home_page' %}">
                    <img style="margin: 0 0;margin-left: -8px;height: 50px" src="/static/img/logo/logo_gray.png" alt="Logo">
                </a>
            </div>
            <div class="col-lg-7">
                <ul class="nav navbar-nav  ">

                    <li class="page-scroll">
                        <a href="{% url 'home_page' %}">
                            <span data-hover="About">网站首页</span>
                        </a>
                    </li>
                    <!-- 课程中心 -->
                    <li class="page-scroll">
                        <a href="{% url 'course' %}">
                            课程中心
                        </a>
                    </li>
                    <!-- End 课程中心 -->
                    <!-- 师资中心 -->
                    <li class="dropdown">
                        <a href="{% url 'teachers' %}">
                            师资中心
                        </a>
                    </li>
                    <!-- End 师资中心 -->

                    <!-- 技术社区 -->
                    <li class="page-scroll">
                        <a href="http://oldboy.blog.51cto.com/">
                            技术社区
                        </a>

                    </li>
                    <!-- End 技术社区 -->
                    <!-- 网络学习中心 -->
                    <li class="page-scroll">
                        <a href="http://edu.51cto.com/training/training_id-24.html?www1">
                            网络学习中心
                        </a>
                    </li>
                    <!-- End 网络学习中心 -->


                </ul>
            </div>
            <div class="col-lg-3 logo">
            <img src="/static/img/head-1.png">
        </div>
        </div><!--/end row-->
    </div><!--/end container-->
    <!-- 首页导航栏 -->

    <!--在线咨询框-->
    <i class="style-switcher-btn fa fa-user hidden-xs online-consule-btn "  style="top:200px;background:#e74c3c"> 在线咨询</i>
    <div class="style-switcher animated fadeInRight" style="display: block;top:200px">
        <div class="style-swticher-header">
            <div class="style-switcher-heading">在线咨询</div>
            <div class="theme-close"><i class="icon-close"></i></div>
        </div>

        <div class="style-swticher-body bg-color-light-grey">
            <!-- Theme Colors -->
            <div class="style-switcher-heading">课程顾问老师</div>
            <ul class="list-unstyled">
                <p style="font-weight:bold">
		        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin={{ consultant.qq }}&amp;site=qq&amp;menu=yes" target="_blank">
                    <i class="fa  fa-qq"></i>在线咨询老师<br>
                </a>
                </p>
            </ul>
            <hr/>
            <!-- Theme Skins -->
            <div class="style-switcher-heading">电话咨询</div>
            <p style="color:whitesmoke">全国统一热线:400-800-8001</p>

            <hr>

            <!-- Layout Styles -->
            <div class="style-switcher-heading">零费用入学</div>
            <p class="row no-col-space">

                <p>
                    <button><a href="http://wpa.qq.com/msgrd?v=3&amp;uin={{ consultant.qq }}&amp;site=qq&amp;menu=yes" target="_blank" >申请0学费入学</a></button>
                </p>
            </div>



        </div>

    <!--end在线咨询框-->

    <div> <!--page content container-->
    {% block page-content-container %}
        <!--=== Content Part ===-->
        <div class="container content ">
            <div class="row blog-page " >
                <!-- Left Sidebar -->
                <div class="col-md-9">
                     <div class="blog-img">
                            <div class="carousel slide carousel-v1" id="myCarousel"  style="margin-top: -10px">
                                <div class="carousel-inner">
                                    <div class="item active" onclick="ff">
                                        <img alt="" style="cursor: pointer" onclick="" src="/static/img/banner/01.png">
                                    </div>
                                    <div class="item" >
                                        <img alt="" src="/static/img/banner/01.png">

                                    </div>
                                    <div class="item">
                                        <img alt="" src="/static/img/banner/01.png">
                                        <!--div class="carousel-caption">
                                            <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                                        </div-->
                                    </div>
                                    <div class="item">
                                        <img alt="" src="/static/img/banner/01.png">

                                    </div>
                                </div>
                                <div class="carousel-arrow">
                                    <a data-slide="prev" href="#myCarousel" class="left carousel-control">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a data-slide="next" href="#myCarousel" class="right carousel-control">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>
                     </div>
                <div style="margin-top: 20px"></div>
                <div class="container-fluid" style="margin-left: -15px">
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="tabbable" id="tabs-557620">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <h2>培训课程</h2>
                                    </li>
                                    <li class="active" style="margin-left: 10px">
                                        <a href="#panel-01" data-toggle="tab">Linux运维</a>
                                    </li>
                                    <li >
                                        <a href="#panel-02" data-toggle="tab">Python开发</a>
                                    </li>
                                    <li >
                                        <a href="#panel-03" data-toggle="tab">大数据工程</a>
                                    </li>
                                    <li >
                                        <a href="#panel-04" data-toggle="tab">系统架构</a>
                                    </li>
                                </ul>
                                <div style="margin-top: 20px"></div>
                                <div class="tab-content">
                                    <div class="tab-pane row active" id="panel-01">
                                        <div class="col-lg-7">
                                            <img src="/static/img/class/11.png">
                                        </div>
                                        <div class="col-lg-5">
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>

                                        </div>
                                    </div>
                                    <div class="tab-pane row" id="panel-02">
                                        <div class="col-lg-7">
                                            <img src="/static/img/class/11.png">
                                        </div>
                                        <div class="col-lg-5">
                                            <h3>Linux 云计算集群架构师 [就业课程]</h3>
                                            <h3>全日制班/周末班</h3>
                                            <h3>签到18万年薪双保就业协议</h3>
                                            <h3>唯一真正的云计算架构师课程</h3>
                                            <h3>百万级服务器案例,全UNIX多平台实操</h3>
                                            <h3>百万级服务器案例,全UNIX多平台实操</h3>

                                        </div>
                                    </div>
                                    <div class="tab-pane row" id="panel-03">
                                        <div class="col-lg-7">
                                            <img src="/static/img/class/11.png">
                                        </div>
                                        <div class="col-lg-5">
                                            <h4>Python 自动化运维专业 [就业课程]</h4>
                                            <h4>跟三流老师学一流技术</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>

                                        </div>
                                    </div>
                                    <div class="tab-pane row" id="panel-04">
                                        <div class="col-lg-7">
                                            <img src="/static/img/class/11.png">
                                        </div>
                                        <div class="col-lg-5">
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>
                                            <h4>Linux 云计算集群架构师 [就业课程]</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                <!-- End Left Sidebar -->

                <!-- Right Sidebar -->
                <div class="col-md-3 magazine-page" style="margin-top: -10px;margin-left: -20px;">


                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <h4 style="margin-left: -8px;" class="panel-title"><i class="fa fa-bullhorn"></i> 最新公告</h4>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled" style="margin-left: -8px;">
                                {% for news in school_news %}
                                <li class="list-group-item-"><span class="color-red">{{ news.get_category_display }}: </span>{{ news.title }}</li>

                                {% endfor %}


                            </ul>

                        </div>
                    </div>



                    <!-- Posts -->
                    <div class="posts margin-bottom-40">
                        <div class="headline headline-md">

                            <h4><i class="fa fa-calendar-check-o"></i>最新开班</h4>

                        </div>


                         <ul class="list-unstyled" >
                            {% for new_class in new_classes %}
                            <li class="list-group-item-">
                                <span>{{ new_class.class_open_date |date:"m.d"}}号 </span>
                                <span class="color-orange">{{ new_class.title }}</span></li>
                            </li>
                            {% endfor %}

                        </ul>

                    </div><!--/posts-->
                    <!-- End Posts -->


                    <!-- Tabs Widget -->
                    <div class="headline headline-md"><h4><i class="fa  fa-angellist"></i>学员蜕变日记</h4></div>
                    <div class="right-side-panel">
                        {% for dairy in stu_dairy %}
                        <p><a href="{{ dairy.link }}" target="_blank">{{ dairy.title }}</a></p>
                        <p>{{ dairy.date|date:"m.d H:i" }}</p>
                        <hr/>
                        {% endfor %}


                    </div>
                    <!-- End Tabs Widget -->


                    <!-- Blog Latest Tweets -->

                    <!--div class="blog-twitter margin-bottom-40">
                        <div class="headline headline-md"><h2>Latest Tweets</h2></div>
                        <div class="blog-twitter-inner">
                            <i class="fa fa-twitter"></i>
                            <a href="#">@htmlstream</a>
                            At vero eos et accusamus et iusto odio dignissimos.
                            <a href="#">http://t.co/sBav7dm</a>
                            <span>5 hours ago</span>
                        </div>
                        <div class="blog-twitter-inner">
                            <i class="fa fa-twitter"></i>
                            <a href="#">@htmlstream</a>
                            At vero eos et accusamus et iusto odio dignissimos.
                            <a href="#">http://t.co/sBav7dm</a>
                            <span>5 hours ago</span>
                        </div>
                        <div class="blog-twitter-inner">
                            <i class="fa fa-twitter"></i>
                            <a href="#">@htmlstream</a>
                            At vero eos et accusamus et iusto odio dignissimos.
                            <a href="#">http://t.co/sBav7dm</a>
                            <span>5 hours ago</span>
                        </div>
                    </div-->
                    <!-- End Blog Latest Tweets -->

                </div>
                <!-- End Right Sidebar -->
            </div><!--/row-->

            <div class="row blog-page " >
                <div class="col-md-12">
                    <h2>就业薪资</h2>
                    <div class="row offor-senior" ><!--就业薪资&师兄说-->
                        <!--就业薪资-->
                        <div class="col-lg-9">
                            <table class="table">
                            <thead class="offor-thead">
                                <tr>
                                    <td>姓名</td>
                                    <td>学历</td>
                                    <td>课程</td>
                                    <td>就业单位</td>
                                    <td>月薪</td>
                                    <td>就业时间</td>
                                </tr>
                            </thead>
                            <tr>
                                <td>满鲸鱼</td>
                                <td>本科</td>
                                <td>大数据过程</td>
                                <td>摸摸摸单位</td>
                                <td>9000k</td>
                                <td>2015-09-09</td>
                            </tr>
                            <tr>
                                <td>孙长明</td>
                                <td>本科</td>
                                <td>大数据过程</td>
                                <td>摸摸摸单位</td>
                                <td>9000k</td>
                                <td>2015-09-09</td>
                            </tr>
                        </table>
                        </div>
                        <!--end 就业薪资-->
                        <!--师兄说-->
                        <div class="col-lg-3 senior ">
                            <h2>师兄说</h2>
                            <h4><a>1.感想老男孩带我进入运维行业</a></h4>
                            <h4><a>1.感想老男孩带我进入运维行业</a></h4>
                            <h4><a>1.感想老男孩带我进入运维行业</a></h4>
                            <h4><a>1.感想老男孩带我进入运维行业</a></h4>
                            <h4><a>1.感想老男孩带我进入运维行业</a></h4>
                        </div>
                        <!--end 师兄说-->
                    </div><!--end 就业薪资&师兄说-->
                    <h2>师资介绍</h2>
                    <div class="row"><!--师资介绍&技术博客-->
                        <div class="col-lg-3 ">
                            <img class="teacher" src="/static/img/th1.png">
                            <p>微软(中国)首席UI设计师</p>
                            <p>崔好</p>
                        </div>
                        <div class="col-lg-3">
                            <img class="teacher" src="/static/img/th1.png">
                            <p>微软(中国)首席UI设计师</p>
                            <p>崔好</p>
                        </div>
                        <div class="col-lg-3">
                            <img class="teacher" src="/static/img/th1.png">
                            <p>微软(中国)首席UI设计师</p>
                            <p>崔好</p>
                        </div>
                        <!--技术博客-->
                        <div class="col-lg-3">
                            
                        </div>
                        <!--end 技术博客-->
                        
                    </div><!--end 师资介绍&技术博客-->
                    <!-- 学员如何说-->
                    <div class="row">
                        <img class="col-lg-12" src="/static/img/qingcun.png">
                    </div>
                    <div class="row img-all">
                        <img class="col-lg-12" src="/static/img/all.png">
                    </div>
                    <div class="row class">
                        <div class="col-lg-3">
                            <h3>牛人带你涨姿势</h3>
                            <h1>网络学习中心</h1>
                            <h4><a>1.我毕业能拿多少钱的工资?</a></h4>
                            <h4><a>1.我毕业能拿多少钱的工资?</a></h4>
                            <h4><a>1.我毕业能拿多少钱的工资?</a></h4>
                            <h4><a>1.我毕业能拿多少钱的工资?</a></h4>
                            <h4><a>1.我毕业能拿多少钱的工资?</a></h4>
                            <h4><a>1.我毕业能拿多少钱的工资?</a></h4>
                        </div>
                        <div class="col-lg-3">
                            <div> <img src="/static/img/class/01.png"></div>
                            <div style="background: #5cb85c">Python 自动化课程</div>
                            <div> <img src="/static/img/class/01.png"></div>
                            <div style="background: #5cb85c">Python 自动化课程</div>
                        </div>
                        <div class="col-lg-3">
                            <div> <img src="/static/img/class/01.png"></div>
                            <div style="background: #5cb85c">Python 自动化课程</div>
                            <div> <img src="/static/img/class/01.png"></div>
                            <div style="background: #5cb85c">Python 自动化课程</div>
                        </div>
                        <div class="col-lg-3">
                            <div> <img src="/static/img/class/01.png"></div>
                            <div style="background: #5cb85c">Python 自动化课程</div>
                            <div> <img src="/static/img/class/01.png"></div>
                            <div style="background: #5cb85c">Python 自动化课程</div>
                        </div>
                    </div>
                    <div class="row">
                        <img class="col-lg-12" src="/static/img/qingcun.png">
                    </div>
                    <h2>社区推荐</h2>
                    <div class="row">
                        <div class="col-lg-2">
                            <img src="/static/img/student/01.png">
                            <a>95后学生XX的就业感言</a>
                        </div>
                        <div class="col-lg-2 student">
                            <img src="/static/img/student/01.png">
                            <a>95后学生XX的就业感言</a>
                        </div>
                        <div class="col-lg-2 student">
                            <img src="/static/img/student/01.png">
                            <a>95后学生XX的就业感言</a>
                        </div>
                        <div class="col-lg-2 student">
                            <img src="/static/img/student/01.png">
                            <a>95后学生XX的就业感言</a>
                        </div>
                        <div class="col-lg-2 student">
                            <img src="/static/img/student/01.png">
                            <a>95后学生XX的就业感言</a>
                        </div>

                    </div>


            </div><!--/row-->


        </div><!--/container-->
        <!--=== End Content Part ===-->
    {% endblock page-content-container %}
    </div>
        <!--end page-content-container-->

     <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-2 md-margin-bottom-40">
                        <!--a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a-->
                        <p class="footer-logo" >课程设置</p>
                        <p><a href="{% url 'course_linux_ops' %}">Linux运维</a></p>
                        <p><a href="{% url 'course_py_devops' %}">Python开发</a></p>
                        <p><a href="{% url 'linux_architect' %}">系统架构</a></p>
                        <p><a href="{% url 'bigdata' %}">大数据课程</a></p>
                    </div><!--/col-md-2-->
                    <div class="col-md-2 md-margin-bottom-40">
                        <!--a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a-->
                        <p class="footer-logo" >学习资源</p>
                        <p><a href="http://edu.51cto.com/training/training_id-24.html?www1">自学教程</a></p>
                        <p><a href="http://edu.51cto.com/training/training_id-24.html?www1">在线课程</a></p>
                        <p><a href="http://oldboy.blog.51cto.com/">技术博客</a></p>
                    </div><!--/col-md-2-->
                    <div class="col-md-2 md-margin-bottom-40">
                        <!--a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a-->
                        <p class="footer-logo" >社区热点</p>
                        <p><a>最新就业</a></p>
                        <p><a>学校活动</a></p>
                        <p><a>学员心声</a></p>
                        <p><a>开班信息</a></p>
                    </div><!--/col-md-2-->
                    <div class="col-md-2 md-margin-bottom-40">
                        <!--a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a-->
                        <p class="footer-logo" >关于我们</p>
                        <p><a>老男孩介绍</a></p>
                        <p><a>加入老男孩</a></p>
                        <p><a>联系老男孩</a></p>
                    </div><!--/col-md-2-->
                    <div class="col-md-2 md-margin-bottom-40">
                        <!--a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a-->
                        <p class="footer-logo" >新手指南</p>
                        <p><a>如何报名</a></p>
                        <p><a>报名流程</a></p>
                        <p><a>常见问题</a></p>
                    </div><!--/col-md-2-->
                    <div class="col-md-2">
                        <p class="footer-logo" >老男孩微信公众号</p>
                        <img src="/static/img/home/weixin.jpg">
                    </div><!--/col-md-3-->




                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2016 &copy; All Rights Reserved.
                           <a href="#">老男孩IT教育</a> | <a href="#">京ICP备13038099号</a>
                        </p>
                    </div>

                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

{% endblock %}
{% block bottom-js %}
<script>

</script>
{% endblock %}