{% extends 'web/index.html' %}

{% block page-content-container %}
<div class="jobs-bg-img parallaxBg "
     xmlns="http://www.w3.org/1999/html">
  <div class="container container-below-navbar">
      <div class="col-md-12  " >
          <p style="font-size: 60px;color:black" class="head_bg">帮助努力且有理想的年轻人获得体面的工作和生活一直是我们的目标</p>

          <p style="margin-top: 40px"><span  class="head_bg">在老男孩,我们坚信,只要努力学习,每位学员最终都能拥有体面的工作和生活.</span></p>


      </div>
  </div>

</div>
<!--平均工资-->
<div class="call-action-v1 " style="background-color: rgb(240, 10, 10)">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <p class="color-light" style="font-size: 28px">2015年,仅老男孩教育Linux中高级运维课程毕业生的平均就业工资已达8-12K,此课程只是老男孩所有课程中最基础的一个阶段.</p>
            </div>

        </div>
    </div>
</div>
<!--end 即将开课-->


<!--部分学员offer展示-->
<div class="container content">
    <div class="row">
        <h2 class="title-v2">部分近期[Linux中高级运维课程]毕业学员Offer展示</h2>
    </div>
    <div class="row">
        <img class="col-md-4"  src="/static/img/offers/linux/14.jpg">
        <img class="col-md-8" src="/static/img/offers/linux/15.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-5"  src="/static/img/offers/linux/16.jpg">
        <img class="col-md-7" src="/static/img/offers/linux/17.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-5"  src="/static/img/offers/linux/18.jpg">
        <img class="col-md-7" src="/static/img/offers/linux/19.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/20.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/21.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/22.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/23.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/24.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/25.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/26.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/27.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/28.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/29.jpg">
    </div>
    <hr/>
    <div class="row">
        <img class="col-md-6"  src="/static/img/offers/linux/30.jpg">
        <img class="col-md-6" src="/static/img/offers/linux/31.jpg">
    </div>
</div>
<!--end 部分学员offer展示-->

<!--学员offer-->
<div class="container content">
    <div class="row">
        <h2 class="title-v2">部分近期[Linux架构师课程]毕业学员Offer展示</h2>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="/static/img/offers/offer1.jpg" alt="">
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="/static/img/offers/offer2.jpg" alt="">
        </div>
        <div class="col-md-4">
            <img class="img-responsive" src="/static/img/offers/offer14.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer3.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer5.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer6.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer7.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer8.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer9.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer10.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer11.jpg" alt="">
        </div>
    </div><!--end row-->
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer12.jpg" alt="">
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="/static/img/offers/offer13.jpg" alt="">
        </div>
    </div><!--end row-->
</div>
<!--end 学员offer-->

{% endblock %}