{% extends 'web/index.html' %}

{% block page-content-container %}
<div class="teachers-bg-img parallaxBg " style="background-position: 50% 16px;"
     xmlns="http://www.w3.org/1999/html">
  <div class="container container-below-navbar">
      <div class="col-md-10  " >
          <p style="font-size: 100px;color:whitesmoke" ><span class="head_b">名师更易出高徒!</span></p>

          <p><span class="p_bg">老男孩教育所有核心讲师均为有着丰富一线知名企业工作经验的技术大牛!</span></p>


      </div>
  </div>

</div>

<!--=== Content Part ===-->
<div class="container content  ">



        <!--讲师团队-->
        <div id="teachers" class="headline margin-bottom-35"><h2>核心讲师团队</h2></div>
        <div class="row">
                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t6.jpg" alt="">
                        <div class="inner-team">
                            <h3>老男孩</h3>
                            <small class="color-green">老男孩教育创始人</small>
                            <p>资深Linux集群实战架构专家，51CTO专家、评委,业内公认知名Linux运维专家。从事一线运维架构实战及教育培训经验13年，著有《跟老男孩学linux运维》《WEB集群实战》等热销书籍。</p>
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->

                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t3.jpg" alt="">
                        <div class="inner-team">
                            <h3>Alex Li (金角大王)</h3>
                            <small class="color-green">CTO & 教学总监</small>
                            <p>多年运维+自动化开发经验,曾任职公安部、飞信、Nokia中国、中金公司、Advent软件、汽车之家等公司,
                                其所授的Python课程在业内受众多程序员喜爱.
                                Alex同时是TriAquae主机管理\CrazyEye堡垒机\Madking CMDB三款开源软件作者,热爱技术、电影、音乐、旅游、妹子！</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->

                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t5.jpg" alt="">
                        <div class="inner-team">
                            <h3>Tenglan Wu (淫角大王)</h3>
                            <small class="color-green">核心Python讲师</small>
                            <p>武藤兰表弟，擅长C#,Python,PHP等一大堆语言开发，现任某大型互联网公司高级自动化开发工程师，已精读多个开源软件源码，自行开发过改进版的Tornado WEB框架，讲课风趣幽默，除了长的丑，没啥缺点！</p>
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->

                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t4.jpg" alt="">
                        <div class="inner-team">
                            <h3>赵班长</h3>
                            <small class="color-green">核心Linux讲师</small>
                            <p>高级系统工程师,UnixHot运维社区创始人,SaltStack中国用户组发起人,"Saltstack最佳实践"一书作者</p>
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->
            </div>

        <div class="row">
                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t2.jpg" alt="">
                        <div class="inner-team">
                            <h3>徐培成</h3>
                            <small class="color-green">大数据开发讲师</small>
                            <p>北京十八掌网络科技有限公司创始人,曾主持开发过大产权交易系统，异构数据库协同系统、电信资源管理系统、互联网综合性调查等系统，对java技术、数据库技术、互联网应用、远程通信、网络编程、分布式应用、高可用性计算机网络集群等技术有多年丰富的实战经验。</p>
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->

                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t1.jpg" alt="">
                        <div class="inner-team">
                            <h3>张耀</h3>
                            <small class="color-green">Linux讲师</small>
                            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->

                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t8.jpg" alt="">
                        <div class="inner-team">
                            <h3>华仔</h3>
                            <small class="color-green">C语言讲师</small>
                            <p>曾任百度高级系统开发工程师,擅长C\C++\GO语言开发,现任某国内Top手机公司资深架构师,负责公司底层架构的开发和优化工作</p>
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->

                <!-- Team v2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-v2 no-margin-bottom">
                        <img class="img-responsive" src="/static/img/team/t7.jpg" alt="">
                        <div class="inner-team">
                            <h3>Daniel</h3>
                            <small class="color-green">C语言讲师</small>
                            <p>曾在百度\Intel中国研究院\汽车之家\金山云等公司任高级分布式系统开发工程师,擅长C\C++语言开发\Linux内核优化技术</p>
                            <hr>

                        </div>
                    </div>
                </div>
                <!-- End Team v2 -->
            </div>

             <!--end 讲师团队-->



</div>     <!--=== end Content Part ===-->




{% endblock %}