<h4 class="faq_question">老男孩教育会给学员包工作吗?</h4>
<p>对不起！您要有这种想法和问题，那很可能就已经与"黑马程序员训练营"无缘了！</p>

<p>如果你相信"不靠自己努力，依赖别人就可以找到好工作"，那首先得看看自己的爸爸是不是李刚，否则，只能靠自己去打拼，"黑马程序员训练营"只能为你提供打拼的本钱和动力！"黑马程序员训练营"不包工作，也不是给你分配工作，而是靠学员学到本领后自己找工作。多年的实践证明，学完我们的课程，学生自己就能找到一份薪水不错的工作，这也是为什么我们敢做就业后再还款，不做软件开发不还款的原因。</p>
<p>我们是推荐工作的，只要是按照老师的标准，完成各项作业。找工作是没有问题的。我们本身也是非常重视就业这一块，老师会根据每个学生有自己的就业指导，而且在后期工作中也会充当学生的拐棍，直到独立“成人”。一般我们学生毕业6个月的平均工资是8k。</p>
<h4 class="faq_question">零学费入学是怎么回事?</h4>
<p>助学贷款</p>

<h4 class="faq_question">怎么才能获得奖学金?</h4>
<p>了好学</p>