<h4>课程适应人群</h4>
<ol>
   <li>0基础无任何开发语言开发经验,但有12个月以上的运维从业经验者</li>
   <li>无运维行业从业经验,但具体一些python或其它开发语言基础者</li>
   <li><a class="btn-link" href="http://t.51cto.com/exam/id-580.html" target="_blank">Python自动化开发入学测试题(需得分60+)</a> </li>
</ol>

<h4>基础知识</h4>
<ol>
   <li>无基础者: (视频学习周期建议为7-15天，具体根据学生自学能力，合理安排时间。)
       <ul>
           <li><a class="btn-link" href="http://edu.51cto.com/course/course_id-5065.html" target="_blank">自动化开发基础前2章(视频1-53节)</a></li>
           <li><a class="btn-link" href="http://www.cnblogs.com/wupeiqi/articles/4938499.html" target="_blank">自动化开发基础前2章课件</a></li>
       </ul>
   </li>
   <li>基础好: (视频学习周期建议为7-15天，具体根据学生自学能力，合理安排时间。)
       <ul>
           <li><a class="btn-link" href="http://edu.51cto.com/course/course_id-5065.html" target="_blank">自动化开发基础前4章(视频1-133节)</a></li>
           <li><a class="btn-link" href="http://www.cnblogs.com/wupeiqi/articles/4938499.html" target="_blank">自动化开发基础前4章课件</a></li>
       </ul>
   </li>
</ol>